﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.menuselect = Request.Url.AbsolutePath;
    var sd = ViewBag.soldetail;
    var type = "";
}

<!-- [시작] 본문 -->

<main>
    <div class="page_top sub04">
        <input type="hidden" id="guid" name="guid" value=""/>
        <div class="page_text">
            <h2>IUI Solutions</h2>
            <p>아이유아이를 통해 Microsoft 플랫폼을 경험해 보세요.</p>
        </div>
    </div>
    <div class="page_content">
        <div class="news">
            
            <div class="news_view sol">
                <div class="view_head">
                    <div class="view_cat" id="category"></div>
                    <div class="view_title" id="title">@ViewBag.soldetail.iui_title</div>
                    <div class="view_subtitle">@ViewBag.soldetail.iui_subtitle</div>
                    <div class="view_date" id="date">@sd.iui_displayon</div>
                </div>
                <div class="view_detail" id="newscontent">
                   @Html.Raw(sd.iui_content)
                </div>
                <div class="view_btn">
                   
                        @if (ViewBag.soldetail.iui_category == 1)
                        {
                            type = "Dynamics 365";
                        }
                        else if (ViewBag.soldetail.iui_category == 2)
                        {
                            type = "Power Platform";
                        }
                        else if (ViewBag.soldetail.iui_category == 3)
                        {
                            type = "Azure";
                        }
                        else if (ViewBag.soldetail.iui_category == 4)
                        {
                            type = "Office 365";
                        }
                        else
                        {
                            type = "Etc.";
                        }
                    <button type="button" id="inno_link" onclick="" value="@ViewBag.soldetail.iui_category">@type 보러가기</button>
                    <button type="button" onclick="location.href='Solutions'">목록으로</button>
                </div>
                @*<div class="view_list">
                    <div class="list_next clear">
                        <div class="ind">Next</div> <!-- 윗글 -->
                        <div class="tit"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur maximus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur maximus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur maximus</a></div>
                    </div>
                    <div class="list_prev clear">
                        <div class="ind">Prev</div> <!-- 아랫글 -->
                        <div class="tit"><a href="#">metus nec porta cursus, metus nibh fringilla purus, a tincidunt ligula justo eu nibh</a></div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</main>
<!-- [끝] 본문 -->
<script>
    $(document).ready(function () {
        var link = link;
       // alert($("#inno_link").val());
        if ($("#inno_link").val() == 0) {
            $("#inno_link").hide();
        } else if ($("#inno_link").val() == 1) {
            $("#inno_link").click(function () {
                //$(location).attr('href', 'http://localhost:58494/Innovation/Dynamics365_Index');
                $(location).attr('href', 'http://www.iyoui.co.kr/Innovation/Dynamics365_Index');
            });
        } else if ($("#inno_link").val() == 2) {
            $("#inno_link").click(function () {
                //$(location).attr('href', 'http://localhost:58494/Innovation/BI_Show');
                $(location).attr('href', 'http://www.iyoui.co.kr/Innovation/BI_Show');
            });
        } else if ($("#inno_link").val() == 3) {
            $("#inno_link").click(function () {
                //$(location).attr('href', 'http://localhost:58494/Innovation/Azure_Show');
                $(location).attr('href', 'http://www.iyoui.co.kr/Innovation/Azure_Show');
            });
        } else if ($("#inno_link").val() == 4) {
            $("#inno_link").hide();
        }
    });

    

    function replace_style(content) {
        var newCode = $('<div></div>').append(content)
            .html().replace(/<(\/)?([a-zA-Z]*)(\s[a-zA-Z]*=[^>]*)?(\s)*(\/)?>/ig, "");

        return newCode;
    }

   
</script>