﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.menuselect = Request.Url.AbsolutePath;
    var cate = "";

}
<!-- [시작] 본문 -->
<form id="frm" name="frm" class="" method="post">
    <input type="hidden" id="page" name="page" value="" />
    <input type="hidden" id="pagecnt" name="pagecnt" value="" />
</form>
<main>
    <div class="page_top sub04">
        <div class="page_text">
            <h2>IUI Solutions</h2>
            <p>아이유아이를 통해 Microsoft 플랫폼을 경험해 보세요.</p>
        </div>
    </div>
    <div class="page_content">
        <!-- [시작] about > news -->
        <div class="news">

            <!-- [시작] 포트폴리오 리스트 -->
            <div class="news_list sol" id="sollist">
                @*@foreach (var a in ViewBag.slist)
            {
                <!-- [시작] 게시글 -->
                <div class="entry thumb">
                    <a href="/Solutions/Solution_Detail?guid=@a.guid">
                        <!-- [★] 썸네일 있는 경우 -->

                        <div class="ent_img" ><img src="@a.imgurl" alt=""  ></div> <!-- [★] 최적 썸네일 사이즈 : 190*140 -->
                        <div class="ent_txt">
                            <div class="tit_wrap">
                                <p class="title">
                                    <!-- [★] 제목 (카테고리 포함) -->
                                    @if (a.iui_category == 1)
                                    {
                                        cate = "Dynamics 365";
                                    }
                                    else if (a.iui_category == 2)
                                    {
                                        cate = "Power Platform";
                                    }
                                    else if (a.iui_category == 3)
                                    {
                                        cate = "Azure";
                                    }
                                    else if (a.iui_category == 4)
                                    {
                                        cate = "Office 365";
                                    }
                                    else
                                    {
                                        cate = "Etc.";
                                    }

                                    <a href="/Solutions/Solution_Detail?guid=@a.guid"><span class="category">[@cate]</span> @a.iui_title </a>
                                </p>
                                <p class="subtitle">@a.iui_subtitle</p>
                                <p class="date">@a.iui_displayon</p> <!-- [★] 작성 날짜 -->
                            </div>
                            <!-- [★] 본문 미리보기 / 최대 세 줄 출력 후 '...' 처리 -->
                            <div class="tit_soldetail">@Html.Raw(a.iui_content)</div>
                        </div>
                    </a>
                </div>
                <!-- [끝] 게시글 -->
            }*@
            </div>
            <div class="news_more" id="showbutton">
            </div>
        </div>
    </div>
</main>
<!-- [끝] 본문 -->

<script>
    $(document).ready(function () {
        Solutions();
    });
    //inner style del
    function replace_style(content) {
        var newCode = $('<div></div>').append(content)
            .html().replace(/<(\/)?([a-zA-Z]*)(\s[a-zA-Z]*=[^>]*)?(\s)*(\/)?>/ig, "");

        return newCode;
    }
    function go_to_page(page_num) {
        if (page_num <= Number($("#pagecnt").val())) {
            $("#page").val(page_num);
            Solutions();

        }
    }

    function Solutions() {
        $.ajax({
            type: "POST",
            url: "/Solutions/Solution_List",
            data: {
                //guid: guid,
                page: $("#page").val()
            },
            cache: false,
            dataType: "json",
            xhrFields: { withCredentials: true },
            crossDomain: true,
            success: function (json) {
                var html = "";
                var type = ""
                var page_btn = "";

               
                //alert("page :" + json.pageCnt + " // currentPage : " + json.currentPage + " // total_cnt : " + json.total_cnt);
                if (json != null && json.list.length > 0) {
                    for (var i = 0; i < json.list.length; i++) {
                        var guid = json.list[i].guid;
                        var iui_title = json.list[i].iui_title;
                        var iui_content = json.list[i].iui_content;
                        var iui_category = json.list[i].iui_category;
                        var iui_subtitle = json.list[i].iui_subtitle;
                        var imgurl = json.list[i].imgurl;
                        var displayon = json.list[i].iui_displayon;

                        if (iui_category == "1") {
                            type = "Dynamics 365";
                        } else if (iui_category == "2") {
                            type = "Power Platform";
                        } else if (iui_category == "3") {
                            type = "Azure";
                        }else if (iui_category == "4") {
                            type = "Office 365";
                        }else {
                            type = "Etc.";
                        }

                        html += '<a href="/Solutions/Solution_Detail?guid=' + guid + '">';

                        if (imgurl == null || imgurl == "") {
                            html += '<div class="entry">';

                        } else {
                            html += '<div class="entry thumb">';
                            html += '<div class="ent_img"><img src="' + imgurl + '" alt=""></div>';
                        }
                        html += '<div class="ent_txt">';
                        html += '<div class="tit_wrap">';
                        html += '<p class="title">';
                        //여기에 상세보기 페이지로 넘어갈 주소 넣을것
                        // html += '<a href="/About/News_Detail?guid=' + guid + '">';
                        html += '<span class="category">[' + type + '] </span>';
                        html += iui_title;
                        // html += '</a>';
                        html += '</p>';
                        html += '<p class="subtitle">' + iui_subtitle +'</p>';
                        html += '<p class="date">' + displayon + '</p>';
                        html += '</div>';
                        html += '<div class="tit_soldetail" id="content">' + replace_style(iui_content) + '</div>';
                        //html += removeHtml(iui_content)
                        //html += '</div>';
                        html += '</a>';
                        html += '</div>';
                        html += '</div>';
                   

                    }
                   // alert(json.pageCnt + " / " + json.currentPage + " / " + json.total_cnt);
                    var page = json.pageCnt;
                    var currentpage = json.currentPage;
                    var pageNumber = "";

                    $("#page").val(json.page);
                    $("#pagecnt").val(json.pageCnt);
                   
                    var currentPage_prev_num = Number(json.currentPage - 1);
                    var currentPage_next_num = Number(json.currentPage + 1);

                   
                    if (json.total_cnt < 5) {
                        pageNumber = "1";
                    } else {
                        pageNumber = currentPage_next_num;
                    }
                    page_btn += '<button type="button" id="showmore" onclick="go_to_page(' + pageNumber + ')">더 보기</button>';
                    //alert(page + " / " + currentpage + " / " + json.total_cnt + " / " + pageNumber);


                }
                $("#sollist").append(html);
                if ($("#page").val('') > 5) {
                    $("#page").val('');
                }

                $("#showbutton").html(page_btn);
                if (page == currentpage) {
                    $("#showmore").hide();
                } else {
                    $("#showmore").show();
                }
            },
            beforeSend: function () {

            },
            complete: function () {

            }

        });
    }
   

</script>
