﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.menuselect = Request.Url.AbsolutePath;
}


<!-- [시작] 본문 -->

    <div class="page_top sub01">
        <div class="page_text">
            <h2>About iui</h2>
            <p>아이유아이에 대해 소개합니다</p>
        </div>
    </div>
    <div class="page_content sub11">
        <!-- [★] 본 페이지 외에는 sub11 클래스 제거 바람 -->
        <!-- [시작] about > about iui -->
        <div class="about clear">
            <!-- [시작] 최상단 메시지 -->
            <div class="about_top">
                <h3 class="blind">Welcome Message</h3>
                <p class="imgp"><img src="~/static/images/h1_logo.png" alt="iui logo"></p>
                <div class="main_txt">
                    <p>고객과 함께 <span class="cpnY"></span>년,</p>
                    <p class="bold">iui는 창조적 가치를 지향합니다.</p>
                </div>
                <div class="sub_txt">
                    <span>(주)아이유아이</span>는 정보사회의 끊임 없는 변화와 움직임 속에서<br>
                    유용한 정보의 조합과 조화를 통한 새로운 정보를 생성하고 기회를 발굴합니다.<br>
                    또한 다양한 업무를 정보 네트워크 기반 서비스로 활성화하며,<br>
                    원활한 커뮤니케이션을 통해 고객의 마인드를 함양하고 동반 상승의 창조적 가치 창출을 목표로 합니다.
                </div>
            </div>
            <!-- [끝] 최상단 메시지 -->
            <!-- [시작] 사업 영역 시작 (추후 내용 수정) -->
            <div class="about_area">
                <div class="inner">
                    <h3>Our Area</h3>
                    <dl>
                        <dt>CRM Consulting</dt>
                        <dd>
                            Microsoft Dynamics 365 Consulting, D365 xRM Module Application, D365 Customizing, Customer Journey Management, Digital Transformation Support
                        </dd>
                        <dt>Application Development</dt>
                        <dd>
                            Web Development, Mobile Service, ERP Linkage System Development, Marketing System Development, CMS Building, IBS system, IRS, Shopping Mall, Community
                        </dd>
                        <dt>Design Business</dt>
                        <dd>
                            Web Design, UI Implementation, Proposal Design, Web Style Guide, Multimedia Design, Illustration, Video Editing, 3D Design, Web CI·BI, Character, Web Catalog
                        </dd>
                        <dt>Customizing</dt>
                        <dd>
                            Marketing Strategy Planning, Web Log Aanalysis, Mailing, Webzine, Banner, Event Promotion, Annual Operation Agency and Planning
                        </dd>
                        <dt>e-Marketing</dt>
                        <dd>
                            Online Business Planning, Web Solution Development, Shopping Mall Operation, Asp Service, Proposal Support, Advertising Agency
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- [끝] 사업 영역 (추후 내용 수정) -->
            <!-- [시작] 회사 연혁 -->
            <div class="about_history">
                <div class="inner">
                    <h3>Our History</h3>
                    <div class="timeline">
                        <div class="timeline__wrap">
                            <div class="timeline__items">
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <time>2020</time>
                                        <ul>
                                            <li>12월. MS Hololens &amp; Remote Assist 홍보 동영상 제작</li>
                                            <li>11월. MS Hololens &amp; Remote Assist 국내 대표시연사 등록</li>
                                            <li>08월. 두산로보틱스 Application Center 시스템 구축</li>
                                            <li>04월. 건국대학교 산학협력단 기술장터 시스템 구축</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <time>2019</time>
                                        <ul>
                                            <li>10월. 대우조선해양 D365 시스템 업그레이드</li>
                                            <li>07월. 두산로보틱스 D365 시스템 구축</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <time>2018</time>
                                        <ul>
                                            <li>11월. RNA Analytics 글로벌 D365 구축</li>
                                            <li>05월. 건국대 산학협력단 및 MOU 시스템 구축</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <time>2017</time>
                                        <ul>
                                            <li>12월. 건국대 미래지식교육원 웹 시스템 개발</li>
                                            <li>08월. 다인치과 4개 병원 외국어 사이트 개발</li>
                                            <li>02월. 카이스트 이륜차 관리시스템 개발</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <time>2016</time>
                                        <ul>
                                            <li>12월. 카이스트 창업 지원 서비스 K스쿨 웹 개발</li>
                                            <li>06월. 헬스, 가맹점 O2O 독립운동 앱/웹 개발</li>
                                            <li>03월. 카이스트 세계총장포럼 웹 개발</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <time>2015</time>
                                        <ul>
                                            <li>12월. KSIE 국제협력 솔루션 발표</li>
                                            <li>10월. 고객센터 기술경영 컨퍼런스 참여</li>
                                            <li>08월. 카이스트 International Office 사이트 통합</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <time>2014</time>
                                        <ul>
                                            <li>06월. SYSMEX Korea CRM 개발</li>
                                            <li>04월. PWC 컨설팅과 업무 협조</li>
                                            <li>01월. Microsoft Dynamics CRM Silver Partner 인증</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <time>2013</time>
                                        <ul>
                                            <li>05월. 카이스트 IRT, ISSS, 생활관 XRM 개발</li>
                                            <li>02월. Microsoft CRM 웹 연동 서비스 개발</li>
                                            <li>01월. 부설 연구소 설립</li>
                                            <li>01월. Microsofty Dynamics CRM 파트너 등록</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <time>2012</time>
                                        <ul>
                                            <li>10월. 동양시스템즈 협력사 등록</li>
                                            <li>03월. 일동 MNP 신 마케팅 시스템 컨설팅 및 개발</li>
                                            <li>02월. 일동제약 셥력사 등록</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <time>2011</time>
                                        <ul>
                                            <li>11월. 한화 S&amp;C 제안서 디자인 협력사 등록</li>
                                            <li>06월. 보험사 상품 브랜드 개발 (LIG, 에이스 외)</li>
                                            <li>01월. LIG 협력사 등록</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <time>2010</time>
                                        <ul>
                                            <li>08월. 은행 펀드 상품 플렉스 시뮬레이션 개발 (국민은행, 기업은행 외)</li>
                                            <li>03월. 서울시 나눔예술 웹사이트 운영</li>
                                            <li>01월. 캠브리지 스토리북 제휴 (온라인 총판 운영)</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <time>2009</time>
                                        <ul>
                                            <li>09월. 서울시 SH 공사 포탈, 기관사이트 및 청약 시스템 개발</li>
                                            <li>04월. 마우스닷컴과 MOU</li>
                                            <li>03월. 웅진홀딩스 협력사 등록</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <time>2008</time>
                                        <ul>
                                            <li>08월. O2리조트 예약 시스템 개발</li>
                                            <li>05월. 하이닉스전자 공정자동화 대시보드 개발</li>
                                            <li>01월. 수협 포탈 및 12개 유관기관 웹서비스 및 커뮤니티 개발</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <time>2007</time>
                                        <ul>
                                            <li>11월. 월페이퍼 운영</li>
                                            <li>06월. CJ 미디어 협력사 등록</li>
                                            <li>02월. 한화 S&amp;C IRT(리조트 예약 시스템) 영업 및 개발</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <time>2006</time>
                                        <ul>
                                            <li>10월. TI STAR 사업설명회 개최</li>
                                            <li>05월. 두산 커뮤니티 및 고객의 소리 개발</li>
                                            <li>03월. 삼성 계열사 공정자동화 대시보드 개발</li>
                                            <li>01월. EU Agent와 연계하여 저가항공, 호텔 예약 솔루션 개발</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <time>2005</time>
                                        <ul>
                                            <li>09월. 슈퍼주니어 홍보사이트 개발</li>
                                            <li>07월. SM 엔터테인먼트 협력사 등록</li>
                                            <li>04월. 두산 그룹 채용 시스템, 폴엠 외 브랜드 사이트 개발 및 운영</li>
                                            <li>01월. 두산 그룹 협력사 등록</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <time>2004</time>
                                        <ul>
                                            <li>08월. 국민은행 통합 UI 개발 및 홍보용 애니메이션 개발</li>
                                            <li>04월. 국민은행 협력업체 등록</li>
                                            <li>02월. 삼성투신운용 대표사이트 외 펀드스쿨 개발 및 SM</li>
                                            <li>02월. 삼성투신운용 협력사 등록</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="timeline__item">
                                    <div class="timeline__content">
                                        <time>2003</time>
                                        <ul>
                                            <li>07월. 한화 그룹 외 30여개 계열사 SM</li>
                                            <li>05월. 한화 그룹 협력사</li>
                                            <li>05월. 아이유아이 설립</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [끝] 회사 연혁 -->
            <!-- [시작] 클라이언트 -->
            <div class="about_client">
                <div class="inner clear">
                    <h3>Our Clients</h3>
                    <ul>
                        <li><img src="~/static/images/page/clients/c01.png" alt="한화"></li>
                        <li><img src="~/static/images/page/clients/c02.png" alt="SK텔레콤"></li>
                        <li><img src="~/static/images/page/clients/c03.png" alt="KB국민은행"></li>
                        <li><img src="~/static/images/page/clients/c04.png" alt="삼성자산운용"></li>
                        <li><img src="~/static/images/page/clients/c05.png" alt="LIG손해보험"></li>
                        <li><img src="~/static/images/page/clients/c06.png" alt="한화S&C"></li>
                        <li><img src="~/static/images/page/clients/c07.png" alt="웅진"></li>
                        <li><img src="~/static/images/page/clients/c08.png" alt="HSBC"></li>
                        <li><img src="~/static/images/page/clients/c09.png" alt="삼성생명"></li>
                        <li><img src="~/static/images/page/clients/c10.png" alt="IBK기업은행"></li>
                        <li><img src="~/static/images/page/clients/c11.png" alt="삼성SDI"></li>
                        <li><img src="~/static/images/page/clients/c12.png" alt="SM엔터테인먼트"></li>
                        <li><img src="~/static/images/page/clients/c13.png" alt="KEB하나은행"></li>
                        <li><img src="~/static/images/page/clients/c14.png" alt="한국투자증권"></li>
                        <li><img src="~/static/images/page/clients/c15.png" alt="ace생명"></li>
                        <li><img src="~/static/images/page/clients/c16.png" alt="오투리조트"></li>
                        <li><img src="~/static/images/page/clients/c17.png" alt="수협"></li>
                        <li><img src="~/static/images/page/clients/c18.png" alt="신한생명"></li>
                        <li><img src="~/static/images/page/clients/c19.png" alt="메리츠화재"></li>
                        <li><img src="~/static/images/page/clients/c20.png" alt="카이스트"></li>
                        <li><img src="~/static/images/page/clients/c21.png" alt="일동제약"></li>
                        <li><img src="~/static/images/page/clients/c22.png" alt="한화손해보험"></li>
                        <li><img src="~/static/images/page/clients/c23.png" alt="농협"></li>
                        <li><img src="~/static/images/page/clients/c24.png" alt="함께서울"></li>
                        <li><img src="~/static/images/page/clients/c25.png" alt="건국대학교"></li>
                        <li><img src="~/static/images/page/clients/c26.png" alt="RNA Analytics"></li>
                        <li><img src="~/static/images/page/clients/c27.png" alt="두산로보틱스"></li>
                        <li><img src="~/static/images/page/clients/c28.png" alt="대우조선해양"></li>
                    </ul>
                </div>
            </div>
            <!-- [끝] 클라이언트 -->
        </div>
        <!-- [끝] about > about iui -->
    </div>

<!-- [끝] 본문 -->
<script>
    // 회사 연혁 관련 소스 : 제거하지 말 것 ★★★
    $(function () {
        $('.timeline').timeline({
            mode: 'horizontal',
            moveItems: 2,
            visibleItems: 3,
            forceVerticalMode: 768
        });

        var dteNow = new Date();
        var intYear = dteNow.getFullYear();
        var cpnY = intYear - 2003;
        $(".cpnY").text(cpnY);
        

        $(window).scroll(function () {
            var histop = $(".about_history").offset().top;
            var win2 = $(window).height();
            var wins = $(window).scrollTop();
            console.log(histop);
            console.log(wins);
            if ($(window).width() > 768) {
                if ((histop - win2) <= (wins)) {
                    $(".timeline--horizontal .timeline__items").addClass('slide');
                } else {

                }
            }
        });
    });
</script>
