﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.menuselect = Request.Url.AbsolutePath;
}
<style>
    .customoverlay {
        position: relative;
        bottom: 85px;
        border-radius: 6px;
        border: 1px solid #ccc;
        border-bottom: 2px solid #ddd;
        float: left;
    }

        .customoverlay:nth-of-type(n) {
            border: 0;
            box-shadow: 0px 1px 2px #888;
        }

        .customoverlay a {
            display: block;
            text-decoration: none;
            color: #000;
            text-align: center;
            border-radius: 6px;
            font-size: 14px;
            font-weight: bold;
            overflow: hidden;
            background: #d95050;
            background: #d95050 url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
        }

        .customoverlay .title {
            display: block;
            text-align: center;
            background: #fff;
            margin-right: 35px;
            padding: 10px 15px;
            font-size: 14px;
            font-weight: bold;
        }

        .customoverlay:after {
            content: '';
            position: absolute;
            margin-left: -12px;
            left: 50%;
            bottom: -12px;
            width: 22px;
            height: 12px;
            background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
        }
</style>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c93656ce4c0bddd143e2eac321790ca0"></script>
<script>
    $(document).ready(function () {
        var mapContainer  = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
        var mapOption  = { //지도를 생성할 때 필요한 기본 옵션
           // center: new kakao.maps.LatLng(126.9161756, 37.5456188), //지도의 중심좌표.
            center: new kakao.maps.LatLng(37.54539, 126.915666), //지도의 중심좌표.
            level:1 //지도의 레벨(확대, 축소 정도)
        };
        var map = new kakao.maps.Map(mapContainer, mapOption);

        var //imageSrc = 'http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_red.png', // 마커이미지의 주소입니다    
            imageSrc = '../static/images/h1_logo.png', // 마커이미지의 주소입니다  
            imageSize = new kakao.maps.Size(64, 69), // 마커이미지의 크기입니다
            imageOption = { offset: new kakao.maps.Point(27, 69) }; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

        // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
            markerPosition = new kakao.maps.LatLng(37.54539, 126.915666); // 마커가 표시될 위치입니다

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: markerPosition,
            image: markerImage // 마커이미지 설정 
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);

        // 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
        var content = '<div class="customoverlay">' +
            '  <a href="http://kko.to/GIUCW5Vj0" target="_blank">' +
            '    <span class="title">(주)아이유아이</span>' +
            '  </a>' +
            '</div>';

        // 커스텀 오버레이가 표시될 위치입니다 
        var position = new kakao.maps.LatLng(37.54539, 126.915666);

        // 커스텀 오버레이를 생성합니다
        var customOverlay = new kakao.maps.CustomOverlay({
            map: map,
            position: position,
            content: content,
            yAnchor: 1
        });
        //var map = new kakao.maps.Map(mapContainer, mapOption ); //지도 생성 및 객체 리턴
        //var position  = new kakao.maps.LatLng(37.5456188, 126.9161756); 

        //var marker = new kakao.maps.Marker({
        //    position: position 
        //});


        //marker.setMap(map);

        //var iwContent = '<div style="padding:5px;">(주)아이유아이</div>'; // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다

        //// 인포윈도우를 생성합니다
        //var infowindow = new kakao.maps.InfoWindow({
        //    content: iwContent
        //});

        //// 마커에 마우스오버 이벤트를 등록합니다
        //kakao.maps.event.addListener(marker, 'mouseover', function () {
        //    // 마커에 마우스오버 이벤트가 발생하면 인포윈도우를 마커위에 표시합니다
        //    infowindow.open(map, marker);
        //});

        //// 마커에 마우스아웃 이벤트를 등록합니다
        //kakao.maps.event.addListener(marker, 'mouseout', function () {
        //    // 마커에 마우스아웃 이벤트가 발생하면 인포윈도우를 제거합니다
        //    infowindow.close();

        //});
    });   
</script>
<!-- [시작] 본문 -->
<main>
    <div class="page_top sub01">
        <div class="page_text">
            <h2>Directions</h2>
            <p>오시는 길을 안내해드립니다.</p>
        </div>
    </div>
    <div class="page_content sub12">
        <div class="about clear">
            <div class="about_dir">
                <h3>찾아오시는 길</h3>
                <div class="map_content" id="map" style="width: 80%; height: 600px; background: #f7f7f7;">지도</div>
                <div class="dir_addr">
                    <div class="dir_desc">
                        <dl>
                            <dt>Address</dt>
                            <dd>04085, 서울 마포구 토정로 44 (합정동, 서림빌딩) 601호</dd>
                        </dl>
                    </div>
                    <div class="dir_desc">
                        <dl>
                            <dt>Tel.</dt>
                            <dd>02-3143-5494</dd>
                        </dl>
                    </div>
                    <div class="dir_desc">
                        <dl>
                            <dt>Fax</dt>
                            <dd>02-332-7106</dd>
                        </dl>
                    </div>
                </div>
                <div class="dir_info">
                    <p class="info_title">지하철 이용 시</p>
                    <ul>
                        <li>2·6호선 지하철 '합정'역 7번 출구로 나와 도보 10분</li>
                    </ul>
                    <p class="info_title">버스 이용 시</p>
                    <ul>
                        <li>합정역 : 602, 603, 604, 761, 5712, 5714, 6712, 7612</li>
                        <li>서울화력발전소입구 : 7011, 7013A, 7013B</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- [끝] 본문 -->
