﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.menuselect = Request.Url.AbsolutePath;
}
<!-- [시작] 본문 -->
<form id="frm" name="frm" class="" method="post">
    <input type="hidden" id="page" name="page" value="" />
    <input type="hidden" id="pagecnt" name="pagecnt" value="" />
    <input type="hidden" id="page_iui" name="page" value="" />
    <input type="hidden" id="pagecnt_iui" name="pagecnt" value="" />
    <input type="hidden" id="page_ms" name="page" value="" />
    <input type="hidden" id="pagecnt_ms" name="pagecnt" value="" />
</form>
<main>
    <div class="page_top sub01">
        <div class="page_text">
            <h2>News</h2>
            <p>유용한 소식을 전해드립니다</p>
        </div>
    </div>
    <div class="page_content">
        <!-- [시작] about > news -->
        <div class="news">
            <!-- [시작] 게시판 카테고리 -->
            <div class="news_category">
                <ul>
                    <li class="on" onclick="NewsAll()" id="All">ALL <span id="all_count">(@ViewBag.total_all)</span></li>
                    <li onclick="NewsIUI()" id="IUI">IUI NEWS <span id="iui_count">(@ViewBag.total_iui)</span></li>
                    <li onclick="NewsMS()" id="MS">MS NEWS <span id="ms_count">(@ViewBag.total_ms)</span></li>
                </ul>
            </div>
            <!-- [끝] 게시판 카테고리 -->
            <!-- [시작] 게시판 리스트 -->
            <div class="news_list" id="newsall">
                <!-- [시작] 게시글 -->
                <!-- [끝] 게시글 -->
            </div>
            <div class="news_list" id="newsiui">
                <!-- [시작] 게시글 -->
                <!-- [끝] 게시글 -->
            </div>
            <div class="news_list" id="newsms">
                <!-- [시작] 게시글 -->
                <!-- [끝] 게시글 -->
            </div>

            <div class="news_more" id="showbutton">
            </div>
        </div>
        <!-- [끝] about > news -->
    </div>
</main>
<!-- [끝] 본문 -->
<script>

    $(document).ready(function () {
        NewsAll();
    });

    //inner style del
    function replace_style(content) {
        var newCode = $('<div></div>').append(content)
            .html().replace(/<(\/)?([a-zA-Z]*)(\s[a-zA-Z]*=[^>]*)?(\s)*(\/)?>/ig, "");

        return newCode;
    }

    function go_to_page(page_num) {
        if (page_num <= Number($("#pagecnt").val())) {
            $("#page").val(page_num);
            NewsAll();

        }
    }
    function go_to_page_iui(page_num) {
        if (page_num <= Number($("#pagecnt_iui").val())) {
            $("#page_iui").val(page_num);
            NewsIUI();
        }

    }
    function go_to_page_ms(page_num) {
        if (page_num <= Number($("#pagecnt_ms").val())) {
            $("#page_ms").val(page_num);
            NewsMS();
        }

    }


    function NewsAll() {
        $("#newsiui").empty();
        $("#newsms").empty();
        $("#All").addClass('on');
        $("#IUI").removeClass('on');
        $("#MS").removeClass('on');


        $.ajax({
            type: "POST",
            url: "/About/News_All",
            data: {
                //guid: guid,
                page: $("#page").val()
            },
            cache: false,
            dataType: "json",
            xhrFields: { withCredentials: true },
            crossDomain: true,
            success: function (json) {
                var html = "";
                var type = ""
                var page_btn = "";

                //alert("page :" + json.pageCnt + " // currentPage : " + json.currentPage + " // total_cnt : " + json.total_cnt);
                if (json != null && json.list.length > 0) {
                    for (var i = 0; i < json.list.length; i++) {
                        var guid = json.list[i].guid;
                        var iui_title = json.list[i].iui_title;
                        var iui_content = json.list[i].iui_content;
                        var iui_category = json.list[i].iui_category;
                        var iui_list_imgurl = json.list[i].iui_list_imgurl;
                        var CreatedOn = json.list[i].CreatedOn;
                        var displayon = json.list[i].iui_displayon;

                        if (iui_category == "1") {
                            type = "IUI NEWS";
                        } else if (iui_category == "2") {
                            type = "MS NEWS";
                        } else {
                            type = "";
                        }

                        html += '<a href="/About/News_Detail?guid=' + guid + '">';

                        if (iui_list_imgurl == null || iui_list_imgurl == "") {
                            html += '<div class="entry">';
                            
                        } else {
                            html += '<div class="entry thumb">';
                            html += '<div class="ent_img"><img src="' + iui_list_imgurl + '"  style="width:190px; height:140px;" alt=""></div>';  
                        }
                        html += '<div class="ent_txt">';
                        html += '<div class="tit_wrap">';
                        html += '<p class="title">';
                        //여기에 상세보기 페이지로 넘어갈 주소 넣을것
                       // html += '<a href="/About/News_Detail?guid=' + guid + '">';
                        html += '<span class="category">[' + type + '] </span>';
                        html += iui_title;
                       // html += '</a>';
                        html += '</p>';
                        html += '<p class="date">' + displayon + '</p>';
                        html += '</div>';
                        html += '<div class="tit_detail" id="content">' + replace_style(iui_content) + '</div>';
                        //html += removeHtml(iui_content)
                        //html += '</div>';
                        html += '</a>';
                        html += '</div>';
                        html += '</div>';


                    }
                    var page = json.pageCnt;
                    var currentpage = json.currentPage;
                    var pageNumber = "";

                    $("#page").val(json.page);
                    $("#pagecnt").val(json.pageCnt);

                    var currentPage_prev_num = Number(json.currentPage - 1);
                    var currentPage_next_num = Number(json.currentPage + 1);

                    if (json.total_cnt < 6) {
                        pageNumber = "1";
                    } else {
                        pageNumber = currentPage_next_num;
                    }
                    page_btn += '<button type="button" id="showmore" onclick="go_to_page(' + pageNumber + ')">더 보기</button>';


                }
                $("#newsall").append(html);
                if ($("#page").val('') > 5) {
                    $("#page").val('');
                }

                $("#showbutton").html(page_btn);
                if (page == currentpage) {
                    $("#showmore").hide();
                } else {
                    $("#showmore").show();
                }
            },
            beforeSend: function () {

            },
            complete: function () {

            }

        });
    }

    function NewsIUI() {

        $("#newsall").empty();
        $("#newsms").empty();
        $("#IUI").addClass('on');
        $("#MS").removeClass('on');
        $("#All").removeClass('on');


        $.ajax({
            type: "POST",
            url: "/About/News_iui",
            data: {
                page: $("#page_iui").val()
            },
            cache: false,
            dataType: "json",
            xhrFields: { withCredentials: true },
            crossDomain: true,
            success: function (json) {
                var html_iui = "";
                var type_iui = "";
                var page_btn = "";

                //alert("page :" + json.pageCnt + " // currentPage : " + json.currentPage + " // total_cnt : " + json.total_cnt);
                if (json != null && json.list.length > 0) {

                    for (var i = 0; i < json.list.length; i++) {

                        var guid = json.list[i].guid;
                        var iui_title = json.list[i].iui_title;
                        var iui_content = json.list[i].iui_content;
                        var iui_category = json.list[i].iui_category;
                        var iui_list_imgurl = json.list[i].iui_list_imgurl;
                        var CreatedOn = json.list[i].CreatedOn;
                        var displayon = json.list[i].iui_displayon;

                        if (iui_category == "1") {
                            type_iui = "IUI NEWS";
                        } else if (iui_category == "2") {
                            type_iui = "MS NEWS";
                        } else {
                            type_iui = "";
                        }


                        if (iui_list_imgurl == null || iui_list_imgurl == "") {
                            html_iui += '<div class="entry">';

                        } else {
                            html_iui += '<div class="entry thumb">';
                            html_iui += '<div class="ent_img"><img src="' + iui_list_imgurl + '"  style="width:190px; height:140px;" alt=""></div>';
                        }
                        html_iui += '<div class="ent_txt">';
                        html_iui += '<div class="tit_wrap">';
                        html_iui += '<p class="title">';
                        //여기에 상세보기 페이지로 넘어갈 주소 넣을것
                        html_iui += '<a href="/About/News_Detail?guid=' + guid + '">';
                        html_iui += '<span class="category">[' + type_iui + ']</span>';
                        html_iui += iui_title;
                        html_iui += '</a>';
                        html_iui += '</p>';
                        html_iui += '<p class="date">' + displayon + '</p>';
                        html_iui += '</div>';
                        html_iui += '<div class="tit_detail" id="content">' + replace_style(iui_content) + '</div>';
                        //html += removeHtml(iui_content)
                        //html += '</div>';
                        html_iui += '</div>';
                        html_iui += '</div>';
                    }
                    var page = json.pageCnt;
                    var currentpage = json.currentPage;
                    var pageNumber = "";

                    $("#page_iui").val(json.page);
                    $("#pagecnt_iui").val(json.pageCnt);

                    var currentPage_prev_num = Number(json.currentPage - 1);
                    var currentPage_next_num = Number(json.currentPage + 1);

                    if (json.total_cnt < 6) {
                        pageNumber = "1";
                    } else {
                        pageNumber = currentPage_next_num;
                    }
                    page_btn += '<button type="button" id="showmore" onclick="go_to_page_iui(' + pageNumber + ')">더 보기</button>';


                }
                $("#newsiui").append(html_iui);
                if ($("#page_iui").val('') > 5) {
                    $("#page_iui").val('');
                }
                $("#showbutton").html(page_btn);
                if (page == currentpage) {
                    //게시글 5개까지는 더보기 버튼 안보이게 처리
                    $("#showmore").hide();
                } else {
                    $("#showmore").show();
                }
                // $("#all_count").html("("+json.total_cnt+")");

            },
            beforeSend: function () {

            },
            complete: function () {
            }

        });
    }

    function NewsMS() {

        $("#newsall").empty();
        $("#newsiui").empty();
        $("#MS").addClass('on');
        $("#IUI").removeClass('on');
        $("#All").removeClass('on');


        $.ajax({
            type: "POST",
            url: "/About/News_ms",
            data: {
                page: $("#page_ms").val()
            },
            cache: false,
            dataType: "json",
            xhrFields: { withCredentials: true },
            crossDomain: true,
            success: function (json) {
                var html_ms = "";
                var type_ms = "";
                var page_btn = "";

                //alert("page :" + json.pageCnt + " // currentPage : " + json.currentPage + " // total_cnt : " + json.total_cnt);
                if (json != null && json.list.length > 0) {
                    for (var i = 0; i < json.list.length; i++) {
                        var guid = json.list[i].guid;
                        var iui_title = json.list[i].iui_title;
                        var iui_content = json.list[i].iui_content;
                        var iui_category = json.list[i].iui_category;
                        var iui_list_imgurl = json.list[i].iui_list_imgurl;
                        var CreatedOn = json.list[i].CreatedOn;
                        var displayon = json.list[i].iui_displayon;

                        if (iui_category == "1") {
                            type_ms = "IUI NEWS";
                        } else if (iui_category == "2") {
                            type_ms = "MS NEWS";
                        } else {
                            type_ms = "";
                        }


                        if (iui_list_imgurl == null || iui_list_imgurl == "") {
                            html_ms += '<div class="entry">';

                        } else {
                            html_ms += '<div class="entry thumb">';
                            html_ms += '<div class="ent_img"><img src="' + iui_list_imgurl + '"  style="width:190px; height:140px;" alt=""></div>';
                        }
                        html_ms += '<div class="ent_txt">';
                        html_ms += '<div class="tit_wrap">';
                        html_ms += '<p class="title">';
                        //여기에 상세보기 페이지로 넘어갈 주소 넣을것
                        html_ms += '<a href="/About/News_Detail?guid=' + guid + '">';
                        html_ms += '<span class="category">[' + type_ms + ']</span>';
                        html_ms += iui_title;
                        html_ms += '</a>';
                        html_ms += '</p>';
                        html_ms += '<p class="date">' + displayon + '</p>';
                        html_ms += '</div>';
                        html_ms += '<div class="tit_detail" id="content">' + replace_style(iui_content) + '</div>';
                        //html += removeHtml(iui_content)
                        //html += '</div>';
                        html_ms += '</div>';
                        html_ms += '</div>';


                    }
                    var page = json.pageCnt;
                    var currentpage = json.currentPage;
                    var pageNumber = "";

                    $("#page_ms").val(json.page);
                    $("#pagecnt_ms").val(json.pageCnt);

                    var currentPage_prev_num = Number(json.currentPage - 1);
                    var currentPage_next_num = Number(json.currentPage + 1);

                    if (json.total_cnt < 6) {
                        pageNumber = "1";
                    } else {
                        pageNumber = currentPage_next_num;
                    }
                    page_btn += '<button type="button" id="showmore" onclick="go_to_page_ms(' + pageNumber + ')">더 보기</button>';


                }
                $("#newsms").append(html_ms);
                if ($("#page_ms").val('') > 5) {
                    $("#page_ms").val('');
                }
                $("#showbutton").html(page_btn);
                if (page == currentpage) {
                    //게시글 5개까지는 더보기 버튼 안보이게 처리
                    $("#showmore").hide();
                } else {
                    $("#showmore").show();
                }
                // $("#all_count").html("("+json.total_cnt+")");

            },
            beforeSend: function () {

            },
            complete: function () {
            }

        });
    }
</script>