﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.menuselect = Request.Url.AbsolutePath;
}

<!-- [시작] 본문 -->

<main>
    <div class="page_top sub01">
        <input type="hidden" id="guid" name="guid" value=""/>
        <div class="page_text">
            <h2>News</h2>
            <p>유용한 소식을 전해드립니다</p>
        </div>
    </div>
    <div class="page_content">
        <div class="news">
            <div class="news_category">
                <ul>
                    <li id="All">ALL <span>(@ViewBag.total_all)</span></li>
                    <li id="IUI">IUI NEWS <span>(@ViewBag.total_iui)</span></li>
                    <li  id="MS">MS NEWS <span>(@ViewBag.total_ms)</span></li>
                    <!-- 현재 선택된 게시글의 카테고리에 on 효과 -->
                </ul>
            </div>
            <div class="news_view">
                <div class="view_head">
                    <div class="view_cat" id="category"></div>
                    <div class="view_title" id="title"></div>
                    <div class="view_date" id="date"></div>
                </div>
                <div class="view_detail" id="newscontent">
                   
                </div>
                <div class="view_btn">
                    <button type="button" onclick="window.history.back()">목록으로</button>
                </div>
                @*<div class="view_list">
                    <div class="list_next clear">
                        <div class="ind">Next</div> <!-- 윗글 -->
                        <div class="tit"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur maximus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur maximus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur maximus</a></div>
                    </div>
                    <div class="list_prev clear">
                        <div class="ind">Prev</div> <!-- 아랫글 -->
                        <div class="tit"><a href="#">metus nec porta cursus, metus nibh fringilla purus, a tincidunt ligula justo eu nibh</a></div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</main>
<!-- [끝] 본문 -->
<script>
    var param = getUrlParams();
    $(document).ready(function () {
        $("#guid").val(param.guid);
        News_Detail();
    });

    function replace_style(content) {
        var newCode = $('<div></div>').append(content)
            .html().replace(/<(\/)?([a-zA-Z]*)(\s[a-zA-Z]*=[^>]*)?(\s)*(\/)?>/ig, "");

        return newCode;
    }

    function News_Detail() {
       
        $.ajax({
            type: "POST",
            url: "/About/News_Detail2",
            data: {
                guid: $("#guid").val()
            },
            cache: false,
            dataType: "json",
            xhrFields: { withCredentials: true },
            crossDomain: true,
            success: function (json) {
                if (json != null) {

                    var category = "";
                    if (json.iui_category == "1") {
                        category = "IUI NEWS";
                        $("#IUI").addClass('on');
                        $("#MS").removeClass('on');
                    } else {
                        category = "MS NEWS";
                        $("#MS").addClass('on');
                        $("#IUI").removeClass('on');
                    }
                    $("#category").text(category);
                    $("#title").text(json.iui_title);
                    $("#date").text(json.iui_displayon);

                    //$(".view_detail").html(content);
                    $("#newscontent").html(json.iui_content);
                }
            }
        });
    }

</script>