﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.menuselect = Request.Url.AbsolutePath;
}

<!-- [시작] 본문 -->
<main>
    <div class="page_top sub01">
        <div class="page_text">
            <h2>Privacy Statement</h2>
            <p>개인정보처리방침 등에 대하여 안내합니다.</p>
        </div>
    </div>
    <div class="page_content">
        <div class="policy">
            <div class="pol_title">
                <h3>개인정보처리방침</h3>
                <p class="bold">고객님의 소중한 개인정보는 철저하게 관리되고 있습니다.</p>
                <p>㈜아이유아이(이하 ‘회사’라고 합니다)는 이용자들의 개인정보를 소중히 다루고 개인정보와 관련된 법규를 준수하고 있습니다. 회사는 정보통신망 이용 촉진 및 정보보호 등에 관한 법률(이하 ‘정보통신망법’이라고 합니다) 및 개인정보보호에 관한 법률(이하 ‘개인정보보호법’) 등을 준수합니다.</p>
            </div>
            <div class="pol_cont">
                <div class="pol_boxes">
                    <div class="pol_box">
                        <h4>[1] 개인정보의 수집 방법 및 항목</h4>
                        <div class="box_cont">
                            <p>회사는 서비스 제공 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.</p>
                            <table>
                                <colgroup>
                                    <col width="50%">
                                    <col width="25%">
                                    <col width="25%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th rowspan="2">수집방법</th>
                                        <th colspan="2">수집항목</th>
                                    </tr>
                                    <tr>
                                        <th>필수항목</th>
                                        <th>선택항목</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>고객문의</td>
                                        <td>이름, 이메일</td>
                                        <td>연락처, 회사명</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>웹사이트를 이용한 서비스 이용과정이나 사업처리 과정에서 아래와 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.<br>- 접속 IP 정보, 쿠키, 접속로그, 서비스 이용기록</p>
                        </div>
                    </div>

                    <div class="pol_box">
                        <h4>[2] 개인정보의 수집 및 이용 목적</h4>
                        <div class="box_cont">
                            <p>회사는 개인정보를 상담 및 문의하기 서비스를 제공하여 질의자가 문의한 내용의 답변 전달, 본인의 의사 표시 사항 처리, 불만사항 처리, 기타 원활한 의사소통 경로 확보를 위해 수집합니다.</p>
                        </div>
                    </div>

                    <div class="pol_box">
                        <h4>[3] 개인정보의 처리 및 보유 기간</h4>
                        <div class="box_cont">
                            <p>
                                원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.<br><br>
                                <strong>&lt;회사 내부방침에 의한 정보보유 사유&gt;</strong><br>
                                - 보존 항목 : 이름, 연락처, 이메일, 회사명, 서비스 이용기록, 접속 로그, 쿠키, 접속 IP 정보<br>
                                - 보존 근거 : 소비자의 불만 또는 분쟁 처리에 관한 기록 추가<br>
                                - 보존 기간 : 3년(전자상거래 등에서의 소비자보호에 관한 법률)
                            </p>
                        </div>
                    </div>

                    <div class="pol_box">
                        <h4>[4] 개인정보의 파기절차 및 방법</h4>
                        <div class="box_cont">
                            <p>
                                회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 개인정보의 파기절차 및 방법은 다음과 같습니다.<br><br>
                                <strong>&lt;파기절차&gt;</strong><br>
                                사용자가 고객센터 질의를 통해 입력하신 정보는 목적이 달성된 후 별도의 DB로 옮겨져 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기 되어집니다. 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외의 다른 목적으로 이용되지 않습니다.<br><br>
                                <strong>&lt;파기방법&gt;</strong><br>
                                전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다. 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.
                            </p>
                        </div>
                    </div>

                    <div class="pol_box">
                        <h4>[5] 개인정보의 제 3자 제공</h4>
                        <div class="box_cont">
                            <p>
                                회사는 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.<br>
                                - 정보주체로부터 사전에 동의를 받은 경우<br>
                                - 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우
                            </p>
                        </div>
                    </div>

                    <div class="pol_box">
                        <h4>[6] 개인정보 취급 및 처리 위탁</h4>
                        <div class="box_cont">
                            <p>회사는 개인정보 위탁 및 제3자 제공을 하지 않습니다.</p>
                        </div>
                    </div>

                    <div class="pol_box">
                        <h4>[7] 이용자 및 법정대리인의 권리와 그 행사 방법</h4>
                        <div class="box_cont">
                            <p>
                                - 정보주체는 언제든지 등록되어 있는 개인정보의 조회/수정/동의철회를 요청하실 수 있습니다. 정보주체가 회사의 개인정보관리부서에 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.<br>
                                - 정보주체가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 개인정보를 이용 또는 제공하지 않습니다.<br>
                                - 회사는 정보주체의 요청에 의해 해지 또는 삭제된 개인정보를 “회사가 수집하는 개인정보의 보유 및 이용기간”에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.
                            </p>
                        </div>
                    </div>

                    <div class="pol_box">
                        <h4>[8] 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항</h4>
                        <div class="box_cont">
                            <p>
                                회사는 귀하의 정보를 수시로 저장하고 찾아내는 ‘쿠키(cookie)’를 운용합니다. 쿠키란 회사의 웹사이트를 운영하는데 이용되는 서버가 귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터 하드디스크에 저장됩니다.<br>
                                귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.<br><br>
                                - 쿠키 등 사용 목적: 이용자의 페이지 접속 빈도나 방문 시간 등을 분석<br>
                                - 쿠키 설정 방법(Internet Explorer 이용시): 웹브라우저 상단 도구> 인터넷 옵션> 개인정보 > 개인정보보호 수준 설정<br>
                                - 받은 쿠키를 보는 방법(Internet Explorer 이용시): 작업표시줄> 도구> 인터넷 옵션> 설정> 파일보기 선택<br><br>
                                단, 귀하께서 쿠키 설치를 거부하셨을 경우 회사 서비스 이용에 어려움이 있을 수도 있음을 알려드립니다.
                            </p>
                        </div>
                    </div>

                    <div class="pol_box">
                        <h4>[9] 개인정보의 안정성 확보 조치</h4>
                        <div class="box_cont">
                            <p>
                                <strong>&lt;기술적 대책&gt;</strong><br>
                                접근통제시스템 설치, 백신 프로그램, 고유식별정보 등의 암호화, 보안 프로그램 설치 등<br><br>
                                <strong>&lt;관리적 대책&gt;</strong><br>
                                개인정보처리 시스템 접근 권한 제한, 정기적 직원 교육, 개인정보 별도 분리 보관 등
                            </p>
                        </div>
                    </div>

                    <div class="pol_box">
                        <h4>[10] 개인정보 보호에 관한 민원 서비스</h4>
                        <div class="box_cont">
                            <p>
                                회사는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보보호책임자를 지정하고 있습니다.<br><br>
                                <strong>&lt;보호책임자&gt;</strong><br>
                                성명: 박상균 대표이사<br>
                                이메일: <a href="mailto:iui@iui.email">iui@iui.email</a><br>
                                전화번호: 02.6237.6103<br><br>
                                <strong>&lt;개인정보관리담당자&gt;</strong><br>
                                성명: 최원제 차장<br>
                                이메일: <a href="mailto:iui@iui.email">tipsy76@iui.email</a><br>
                                전화번호: 02.2038.2481<br><br>
                                고객서비스담당 부서 : ㈜아이유아이 기획팀 <br><br>
                                기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.<br>
                                - 개인정보 침해신고센터 (<a href="https://privacy.kisa.or.kr/" target="_blank">privacy.kisa.or.kr</a> / (국번없이)118)<br>
                                - 개인정보 분쟁조정위원회 (<a href="https://www.kopico.go.kr" target="_blank">www.kopico.go.kr</a> / 1833.6972)<br>
                                - 대검찰청 사이버수사과 (<a href="http://www.spo.go.kr" target="_blank">www.spo.go.kr</a> / 02.3480.3573)<br>
                                - 경찰청 사이버안전국 (<a href="https://cyberbureau.police.go.kr" target="_blank">cyberbureau.police.go.kr</a> / (국번없이)182)
                            </p>
                        </div>
                    </div>

                    <div class="pol_box">
                        <h4>[11] 개인정보 처리방침 변경</h4>
                        <div class="box_cont">
                            <p>
                                본 개인정보처리방침 내용의 추가, 삭제 및 수정이 있을 시에는 변경되는 내용을 시행하기 7일 전에 홈페이지를 통해 공지하도록 하겠습니다.<br><br>
                                현 개인정보처리방침은 2020년 2월 1일부터 시행됩니다.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- [끝] 본문 -->