@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean');


body {
    font: 14px 'Roboto', 'Noto Sans KR';
    color: #333;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header {
    height: 110px;
    z-index: 100;
    position: fixed;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
    z-index: 100;
    transition: 0.4s;
}

.subpage header.rev {
    background: #fff;
    height: 110px;
}

header .inner {
    height: 110px;
    border-bottom: 1px solid #fff;
    position: relative;
    box-sizing: border-box;
}

.subpage header.rev .inner {
    border-bottom: 1px solid #d2d2d2;
}

h1 {
    float: left;
    margin: 23px 0 0 30px;
}

nav {
    text-align: center;
}

    nav .pc_gnb {
        /*position: absolute;
    left: 50%;
    transform: translateX(-50%);*/
        display: inline-block;
        margin: 0 auto;
    }

        nav .pc_gnb > .main {
            float: left;
            line-height: 1;
            height: 110px;
            vertical-align: middle;
            position: relative;
            box-sizing: border-box;
        }

            nav .pc_gnb > .main button {
                display: block;
                width: 100%;
                height: 100%;
                background: none;
                font: 500 20px 'Roboto', 'Noto Sans KR';
                color: #fff;
                padding: 43px 70px;
            }

.subpage header.rev nav .pc_gnb > .main button {
    color: #333;
}

nav .pc_gnb > .main .sub {
    display: none;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}

    nav .pc_gnb > .main .sub li {
        text-align: center;
        border-bottom: 1px solid #d2d2d2;
    }

        nav .pc_gnb > .main .sub li:last-child {
            border-bottom: 0;
        }

        nav .pc_gnb > .main .sub li button {
            font: 14px 'Roboto', 'Noto Sans KR';
            padding: 20px;
            width: 150px;
            background: rgba(255, 255, 255, 0.4);
        }

.subpage header.rev nav .pc_gnb > .main .sub li button {
    background: rgba(51, 51, 51, 0.7);
    color: #fff;
}

nav .mm_btn {
    position: absolute;
    right: 20px;
    top: 21.5px;
    cursor: pointer;
    z-index: 101;
    display: none;
    width: 35px;
    height: 27px;
}

    nav .mm_btn .bar {
        width: 35px;
        height: 1px;
        background: #fff;
        margin-bottom: 12px;
        transition: 0.4s;
    }

.subpage header.rev nav .mm_btn .bar {
    background: #333;
}

nav .mm_btn .bar:last-child {
    margin-bottom: 0;
}

nav .mm_btn.tog .bar.b1 {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    transform: rotate(-45deg) translate(-10px, 10px);
}

nav .mm_btn.tog .bar.b2 {
    display: none;
}

nav .mm_btn.tog .bar.b3 {
    -webkit-transform: rotate(45deg) translate(-0px, -0px);
    transform: rotate(45deg) translate(-0px, -0px);
}

nav .m_gnb {
    width: 220px;
    height: 100%;
    position: fixed;
    right: -220px;
    z-index: 50;
    box-sizing: border-box;
    background: rgba(51, 51, 51, 0.9);
}

    nav .m_gnb .m_close {
        height: 110px;
        box-sizing: border-box;
    }

    nav .m_gnb ul {
        padding: 10px 0;
    }

    nav .m_gnb .m_main {
        width: 100%;
        font-size: 0;
    }

        nav .m_gnb .m_main button {
            width: 100%;
            height: 40px;
            text-align: left;
            background: none;
            color: #fff;
            font: 500 18px 'Roboto', 'Noto Sans KR';
            box-sizing: border-box;
            padding: 0 20px;
        }

        nav .m_gnb .m_main .m_sub {
            padding-left: 20px;
            background:
        }

            nav .m_gnb .m_main .m_sub button {
                font-size: 14px;
                font-weight: 400;
            }

main {
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    /*    height: 150px;*/
    background: #404040;
    position: relative;
}

.mainpage footer {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
    position: fixed;
    height: 150px;
    left: 0;
    bottom: 0;
    z-index: 10;
}

footer .inner {
    width: 1200px;
    margin: 0 auto;
    bottom: 0;
    padding: 42px 0;
    box-sizing: border-box;
}

.subpage footer .inner {
    padding: 42px 0;
}

footer .f_name {
    color: #ff3a1f;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}

footer .f_info {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
}

    footer .f_info a:hover {
        text-decoration: underline;
    }

@media all and (max-width: 1279px) {
    footer .inner {
        width: 90%;
    }
}

@media all and (max-width: 768px) {
    header, header .inner, .subpage header.rev, nav .m_gnb .m_close {
        height: 70px;
    }

        .subpage header.rev nav .m_gnb .m_close {
            background: #f7f7f7;
        }

    h1 {
        margin: 14px 0 0 20px;
    }

        h1 a img {
            width: 40px;
        }

    nav .pc_gnb {
        display: none;
    }

    nav .mm_btn {
        display: block;
    }

    .subpage footer .inner {
        padding: 32px 0;
    }

    footer .f_name {
        font-size: 1.2em;
    }

    footer .f_info {
        font-size: 0.7em;
    }
}

@media all and (max-width: 360px) {
    footer .f_name {
        font-size: 1em;
    }

    footer .f_info {
        font-size: 0.5em;
    }
}


.ctt_float {
    position: fixed;
    right: 15px;
    bottom: 15px;
    text-align: right;
    width: 400px;
    z-index: 10;
}

    .ctt_float .cttbtn {
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        width: auto;
        height: auto;
        overflow: visible;
    }

        .ctt_float .cttbtn button {
            display: inline-block;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #ff3a1f url('../images/con00.png') no-repeat 50% 50%;
            color: #fff;
            cursor: pointer;
            z-index: 99;
        }

    .ctt_float ul {
        position: absolute;
        right: 0px;
        bottom: 0px;
        background: #f5f5f5;
        border-radius: 10px 10px 30px 10px;
        padding: 15px 15px 50px 15px;
        width: 100px;
        display: none;
    }

        .ctt_float ul li {
            text-align: left;
            color: #333;
            line-height: 1.4;
        }

            .ctt_float ul li.ti {
                color: #ff3a1f;
                font-weight: 600;
                font-size: 16px;
            }

                .ctt_float ul li.ti:last-child {
                    margin-top: 10px;
                    cursor: pointer;
                }

    .ctt_float .cttbtn.hover {
        width: auto;
        height: auto;
        border-radius: 0;
        overflow: visible;
    }

    .ctt_float .ctt_category {
        padding: 10px 0;
        text-align: center;
    }

        .ctt_float .ctt_category button,
        .ctt_float .ctt_index button {
            font: 500 16px 'Roboto';
            width: 40px;
            box-sizing: content-box;
            color: #999;
            padding: 30px 10px 0 10px;
            text-align: center;
            transition: 0.3s;
        }

    .ctt_float .ctt_index button {
        letter-spacing: -1px;
        width: 60px;
        font-weight: 600;
    }

    .ctt_float .ctt_category button.tel {
        background: url('../images/con01.png') no-repeat 50% 0;
    }

        .ctt_float .ctt_category button.tel:hover {
            background-image: url('../images/con01_on.png');
            color: #ff3a1f;
        }

    .ctt_float .ctt_category button.mail {
        background: url('../images/con02.png') no-repeat 50% 0;
    }

        .ctt_float .ctt_category button.mail:hover {
            background-image: url('../images/con02_on.png');
            color: #ff3a1f;
        }

    .ctt_float .ctt_index button.try {
        background: url('../images/con04.png') no-repeat 50% 0;
    }

        .ctt_float .ctt_index button.try:hover {
            background-image: url('../images/con04_on.png');
            color: #ff3a1f;
        }

    .ctt_float .ctt_index button.ctc {
        background: url('../images/con03.png') no-repeat 50% 0;
    }

        .ctt_float .ctt_index button.ctc:hover {
            background-image: url('../images/con03_on.png');
            color: #ff3a1f;
        }

    .ctt_float .ctt_category, .ctt_float .ctt_detail, .ctt_float .ctt_index {
        display: none;
    }

        .ctt_float .ctt_category .heads,
        .ctt_float .ctt_detail .heads,
        .ctt_float .ctt_index .heads {
            line-height: 40px;
            border: 1px solid #d2d2d2;
            border-bottom: 0;
            background: #f5f5f5;
            position: relative;
            text-align: left;
        }

            .ctt_float .ctt_category .heads .decor_wrap,
            .ctt_float .ctt_detail .heads .decor_wrap,
            .ctt_float .ctt_index .heads .decor_wrap {
                float: left;
                padding: 13px 0;
                margin-right: 15px;
                padding-left: 10px;
            }

                .ctt_float .ctt_category .heads .decor_wrap > div,
                .ctt_float .ctt_detail .heads .decor_wrap > div,
                .ctt_float .ctt_index .heads .decor_wrap > div {
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    float: left;
                    margin: 0 3px;
                }

                    .ctt_float .ctt_category .heads .decor_wrap > div.deco1,
                    .ctt_float .ctt_detail .heads .decor_wrap > div.deco1,
                    .ctt_float .ctt_index .heads .decor_wrap > div.deco1 {
                        background: #fe6158;
                        cursor: pointer;
                    }

                    .ctt_float .ctt_category .heads .decor_wrap > div.deco2,
                    .ctt_float .ctt_detail .heads .decor_wrap > div.deco2,
                    .ctt_float .ctt_index .heads .decor_wrap > div.deco2 {
                        background: #ffbe2e;
                    }

                    .ctt_float .ctt_category .heads .decor_wrap > div.deco3,
                    .ctt_float .ctt_detail .heads .decor_wrap > div.deco3,
                    .ctt_float .ctt_index .heads .decor_wrap > div.deco3 {
                        background: #29d042;
                    }

            .ctt_float .ctt_category .heads .txt,
            .ctt_float .ctt_detail .heads .txt,
            .ctt_float .ctt_index .heads .txt {
                float: left;
                padding: 0 8px 0 15px;
                font-size: 15px;
                font-weight: 500;
                color: #999;
                background: #fff;
                border-radius: 10px 10px 0 0;
                border: 1px solid #d2d2d2;
                border-width: 0 1px 0 1px;
                line-height: 40px;
                box-sizing: border-box;
            }

                .ctt_float .ctt_category .heads .txt .close,
                .ctt_float .ctt_detail .heads .txt .close,
                .ctt_float .ctt_index .heads .txt .close {
                    font-size: 24px;
                    background: none;
                    color: #999;
                    padding: 0 5px;
                    vertical-align: middle;
                    line-height: 40px;
                }

        .ctt_float .ctt_category .conts,
        .ctt_float .ctt_detail .conts,
        .ctt_float .ctt_index .conts {
            padding: 10px 15px;
            border: 1px solid #d2d2d2;
            box-sizing: border-box;
            text-align: left;
            background: #fff;
        }

        .ctt_float .ctt_category .conts,
        .ctt_float .ctt_index .conts {
            text-align: center;
        }

        .ctt_float .ctt_detail .conts .input_line {
            width: 100%;
            padding: 5px 0;
        }

            .ctt_float .ctt_detail .conts .input_line:after,
            .ctt_float .ctt_detail .conts .input_line dl:after {
                clear: both;
                display: block;
                content: "";
            }

            .ctt_float .ctt_detail .conts .input_line dt {
                float: left;
                width: 70px;
                line-height: 30px;
            }

            .ctt_float .ctt_detail .conts .input_line dd {
                float: left;
                width: calc(100% - 70px);
                line-height: 30px;
            }

        .ctt_float .ctt_detail .conts input {
            font: inherit;
        }

            .ctt_float .ctt_detail .conts input[type="radio"] {
                -webkit-appearance: radio;
                vertical-align: middle;
                margin: 0 3px 0 0;
            }

        .ctt_float .ctt_detail .conts label {
            vertical-align: middle;
            margin-right: 10px;
        }

        .ctt_float .ctt_detail .conts input[type="text"],
        .ctt_float .ctt_detail .conts input[type="email"] {
            vertical-align: middle;
            border: 1px solid #d2d2d2;
            padding: 0 5px;
            height: 30px;
            box-sizing: border-box;
        }

        .ctt_float .ctt_detail .conts textarea {
            width: 100%;
            height: 60px;
            resize: none;
            border: 1px solid #d2d2d2;
            padding: 5px;
            box-sizing: border-box;
        }

        .ctt_float .ctt_detail .conts .btnset {
            text-align: right;
        }

            .ctt_float .ctt_detail .conts .btnset .send {
                width: 100px;
                height: 40px;
                background: #ff3a1f;
                color: #fff;
                font: inherit;
            }

            .ctt_float .ctt_detail .conts .btnset .cancel {
                width: 70px;
                height: 40px;
                background: #fff;
                color: #333;
                border: 1px solid #d2d2d2;
                font: inherit;
            }

.ctt_timeline {
    width: 100%;
    background: #fff;
    border-radius: 0 0 10px 10px;
}

    .ctt_timeline .heads {
        line-height: 40px;
        text-align: left;
        background: #ff3a1f;
        color: #fff;
        padding: 0 15px;
        position: relative;
    }

    .ctt_timeline .conts {
        font-size: 0;
        text-align: left;
        padding: 15px 15px 20px 15px;
        height: 400px;
        overflow-y: auto;
    }

@media all and (max-width: 440px) {
    .ctt_float {
        width: 320px;
    }

        .ctt_float .ctt_category .heads .txt, .ctt_float .ctt_detail .heads .txt {
            font-size: 14px;
        }

            .ctt_float .ctt_category .heads .txt .close, .ctt_float .ctt_detail .heads .txt .close {
                font-size: 22px;
            }
}

@media all and (max-width: 340px) {
    .ctt_float {
        width: 280px;
    }

        .ctt_float .ctt_category .heads .decor_wrap, .ctt_float .ctt_detail .heads .decor_wrap {
            margin-right: 12px;
            padding-left: 8px;
        }

            .ctt_float .ctt_category .heads .decor_wrap > div, .ctt_float .ctt_detail .heads .decor_wrap > div {
                width: 12px;
                height: 12px;
            }
}


.go_top {
    position: fixed;
    right: 15px;
    bottom: 75px;
    display: none;
}

    .go_top button {
        width: 50px;
        height: 50px;
        background: #f5f5f5 url('../images/arrow.png') no-repeat 50%;
        border-radius: 50%;
        font-size: 0;
    }
