.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

.tac {
    text-align: center;
}

.taj {
    text-align: justify;
}

.mainpage main {
    width: 100%;
    background: url('../images/main/mainbg2.jpg') no-repeat center top;
    background-size: cover;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

    .mainpage main .w_wrap {
        /*    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);*/
        text-align: center;
        display: inline-block;
    }

    .mainpage main .w_main {
        color: #ff3a1f;
        font-size: 48px;
        font-weight: 900;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    }

    .mainpage main .w_sub {
        color: #fff;
        font-size: 30px;
        font-weight: 500;
    }

.subpage main {
}

@media all and (max-width: 768px) {
    .mainpage main .w_main {
        font-size: 2.5em;
    }

    .mainpage main .w_sub {
        font-size: 1.6em;
    }
}

.page_top {
    height: 530px;
    padding-top: 110px;
    box-sizing: border-box;
}

    .page_top.sub01 {
        background: url('../images/main/sub_bg01_2.jpg') no-repeat 50% 50%;
        background-size: cover;
    }

    .page_top.sub02 {
        background: url('../images/main/sub_bg02_2.jpg') no-repeat 50% 50%;
        background-size: cover;
    }

    .page_top.sub03 {
        background: url('../images/main/sub_bg03_2.jpg') no-repeat 50% 50%;
        background-size: cover;
    }

    .page_top.sub04 {
        background: url('../images/main/sub_bg04_2.jpg') no-repeat 50% 50%;
        background-size: cover;
    }

.page_text {
    padding-top: 140px;
    text-align: center;
    color: #fff;
    line-height: 1;
}

    .page_text h2 {
        font-size: 70px;
        font-weight: 700;
        position: relative;
        margin-top: 0;
        margin-bottom: 64px;
        animation-duration: 1s;
        animation-name: textfloat;
    }

        .page_text h2:after {
            width: 42px;
            height: 4px;
            background: #fff;
            content: "";
            position: absolute;
            left: 50%;
            margin-left: -21px;
            bottom: -32px;
        }

    .page_text p {
        font-size: 18px;
        font-weight: 500;
        word-break: keep-all;
        margin: 0 auto;
        width: 85%;
    }

@keyframes textfloat {
    from {
        opacity: 0;
        margin-top: 40px;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

.page_content {
    width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
    position: relative;
}

    .page_content.sub11 {
        width: 100%;
        padding-bottom: 0;
    }

    .page_content.sub12 {
        width: 100%;
    }

/* sub 1-1. about iui */

.about {
    text-align: center;
}

    .about h3 {
        font-size: 24px;
        font-weight: 700;
        vertical-align: middle;
        margin-bottom: 80px;
    }

        .about h3:before {
            width: 50px;
            height: 2px;
            background: #333;
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;
        }

.about_top {
    padding-bottom: 60px;
}

    .about_top .imgp {
        margin-bottom: 72px;
    }

    .about_top .main_txt {
        text-align: left;
        display: inline-block;
        margin: 0 auto;
    }

        .about_top .main_txt p {
            font-size: 48px;
            line-height: 1.2;
            word-break: keep-all;
        }

            .about_top .main_txt p.bold {
                font-weight: 900;
            }

    .about_top .sub_txt {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.6;
        margin-top: 72px;
    }

        .about_top .sub_txt span {
            color: #ff3a1f;
            font-weight: 900;
        }

.about_area {
    background: #f5f5f5;
    padding: 80px 0;
}

    .about_area .inner {
        width: 1200px;
        margin: 0 auto;
        text-align: justify;
        font-size: 18px;
    }

    .about_area dt {
        color: #ff3a1f;
        letter-spacing: 3px;
        margin-bottom: 30px;
        font-weight: 700;
    }

    .about_area dd {
        margin-bottom: 55px;
    }

        .about_area dd:last-child {
            margin-bottom: 0;
        }

.about_history {
    padding: 80px 0;
}

    .about_history .inner {
        width: 1240px;
        margin: 0 auto;
        text-align: left;
    }

    .about_history h3 {
        padding-left: 20px;
    }

    .about_history .timeline__content {
        border: 1px solid #d2d2d2;
        padding: 15px;
    }

        .about_history .timeline__content:after {
            border-bottom: 0;
        }

        .about_history .timeline__content time {
            font-size: 18px;
            font-weight: 700;
            display: block;
            margin-bottom: 8px;
        }

        .about_history .timeline__content li {
            margin-bottom: 0;
            font-size: 14px;
        }

.timeline--horizontal .timeline__items.slide {
    animation-name: timelineslide;
    animation-duration: 4s;
    animation-delay: 3s;
}

@keyframes timelineslide {
    0% {
        transform: translate3d(-5320px, 0px, 0px);
    }

    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

.about_history .timeline--horizontal .timeline__item .timeline__content:after {
    border: 0;
    background: #d2d2d2;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 100%;
}

.about_history .timeline--horizontal .timeline__item .timeline__content:before {
    /*    display: none;*/
    border: 0;
    background: #d2d2d2;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 1px;
    height: 32px;
}

.about_history .timeline__item:after {
    border: 3px solid #ff3a1f;
}

.about_history .timeline--horizontal .timeline-divider {
    background: #d2d2d2;
}

.about_history .timeline-nav-button--prev {
    background: url('../images/page/prev_ccc.png') no-repeat 47% 50%;
    background-size: 25%;
}

.about_history .timeline-nav-button--next {
    background: url('../images/page/next_ccc.png') no-repeat 55% 50%;
    background-size: 25%;
}

.about_client {
    padding: 80px 0;
    background: url('../images/main/sub_client.jpg') no-repeat center top;
    background-size: cover;
}

    .about_client .inner {
        width: 1200px;
        margin: 0 auto;
        font-size: 0;
        text-align: left;
    }

    .about_client h3 {
        color: #fff;
        text-align: left;
    }

        .about_client h3:before {
            background: #fff;
        }

    .about_client li {
        /*    float: left;*/
        display: inline-block;
        margin: 0 20px 20px 0;
    }

        .about_client li:nth-child(5n) {
            margin-right: 0;
        }

@media all and (max-width: 1279px) {
    .about_area .inner, .about_area .inner, .about_client .inner, .about_history .inner, .about_dir {
        width: 90%;
    }

    .about_client .inner {
        text-align: center;
    }

    .about_history h3 {
        padding-left: 0;
    }

    .about_client li {
        margin: 10px;
    }

        .about_client li:nth-child(5n) {
            margin: 10px;
        }
}

@media all and (max-width: 1200px) {
    .page_content {
        width: 90%;
    }
}

@media all and (max-width: 768px) {
    .page_top {
        height: 400px;
        padding-top: 70px;
    }

    .page_text {
        padding-top: 82px;
    }

    .about_client li img {
        width: 180px;
    }
}

@media all and (max-width: 640px) {
    .page_top {
        height: 360px;
    }

    .about_top .main_txt p {
        font-size: 2.4em;
        text-align: center;
    }

    .about_top .sub_txt {
        width: 90%;
        font-size: 1.2em;
        margin: 72px auto 0;
    }

    .about_area .inner {
        font-size: 1.2em;
    }
}

@media all and (max-width: 480px) {
    .page_content {
        padding: 60px 0;
    }

    .page_text h2 {
        font-size: 48px;
    }

        .page_text h2:after {
            height: 2px;
        }

    .page_text p {
        font-size: 14px;
    }

    .about_client li img {
        width: 120px;
    }

    .about_area, .about_history, .about_client {
        padding: 50px 0;
    }

    .about h3 {
        margin-bottom: 50px;
    }
}

@media all and (max-width: 320px) {
    .page_text h2 {
        font-size: 40px;
    }
}


/* sub 1-2. News */

.news_category {
    font-size: 0;
    margin-bottom: 20px;
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
}

    .news_category li {
        float: left;
        font-size: 18px;
        width: calc(100% / 3);
        text-align: center;
        box-sizing: border-box;
        line-height: 60px;
        border: 1px solid #d2d2d2;
        border-right: 0;
        background: #fff;
        font-weight: 500;
        transition: 0.3s;
        position: relative;
    }

        .news_category li:last-child {
            border-right: 1px solid #d2d2d2;
        }

        .news_category li.on {
            background: #ff3a1f;
            color: #fff;
            font-weight: 900;
            border-color: #ff3a1f;
        }

            .news_category li.on:after {
                display: none;
            }

        .news_category li:after {
            width: 0;
            height: 1px;
            content: "";
            position: absolute;
            background: #ff3a1f;
            left: 0;
            bottom: -1px;
            transition: 0.5s;
        }

        .news_category li:hover:after {
            width: 100%;
        }

        .news_category li a {
            transition: 0.5s;
            display: inline-block;
            width: 100%;
        }

        .news_category li:hover a {
            opacity: 0.6;
        }

        .news_category li.on:hover a {
            opacity: 0.8;
        }

        .news_category li span {
            color: #ccc;
        }

.news {
    border-top: 3px solid #333;
}

.news_list {
}

    .news_list .entry {
        padding: 15px 0;
        border-bottom: 1px solid #d2d2d2;
        vertical-align: middle;
    }

        .news_list .entry:after {
            clear: both;
            display: block;
            content: "";
        }

.entry .ent_img {
    float: left;
}

    .entry .ent_img img {
        max-width: 100%;
        max-height: 100%;
    }

.entry .ent_txt {
}

.entry.thumb .ent_txt {
    float: right;
    width: calc(100% - 210px);
}

.entry .ent_txt .title {
    font-size: 18px;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .entry .ent_txt .title a:hover {
        opacity: 0.6;
    }

    .entry .ent_txt .title span {
        color: #ff3a1f;
        font-weight: 700;
    }

.entry .ent_txt .date {
    margin-bottom: 18px;
}

.entry .ent_txt .tit_detail {
    color: #999;
    line-height: 1.8;
    height: 5.4em;
    overflow: hidden;
}

.news .news_more {
    padding-top: 40px;
    text-align: center;
}

    .news .news_more button {
        font: inherit;
        text-align: center;
        background: none;
        width: 250px;
        height: 70px;
        border: 1px solid #d2d2d2;
        font-size: 16px;
        font-weight: 500;
    }

        .news .news_more button:hover {
        }

@media all and (max-width: 480px) {
    .entry .ent_img {
        display: none;
    }

    .entry.thumb .ent_txt {
        width: 100%;
    }

    .news .news_more button {
        width: 180px;
        height: 50px;
        font-size: 14px;
    }

    .news_category li {
        font-size: 14px;
    }

    .entry .ent_txt .title {
        font-size: 16px;
    }
}

.news_view {
    border-top: 3px solid #333;
}

    .news_view .view_head {
        padding: 45px 0;
        text-align: center;
        border-bottom: 1px solid #d2d2d2;
    }

        .news_view .view_head .view_cat {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.6;
            color: #ff3a1f;
        }

        .news_view .view_head .view_title {
            font-weight: 500;
            font-size: 22px;
            margin-bottom: 20px;
        }

    .news_view .view_detail {
        padding: 64px 0;
        border-bottom: 1px solid #d2d2d2;
        line-height: 1.8;
    }

        .news_view .view_detail strong, .news_view .view_detail b {
            font-weight: bold;
        }

        .news_view .view_detail i, .news_view .view_detail em {
            font-style: italic;
        }

        .news_view .view_detail ul {
            padding-left: 40px;
            margin: 1em 0;
        }

        .news_view .view_detail li {
            list-style-type: disc;
            margin-left: 1em;
        }

        .news_view .view_detail a {
            color: #ff3a1f;
            text-decoration: underline;
        }

        .news_view .view_detail img {
            max-width: 100%;
        }

    .news_view .view_btn {
        text-align: center;
        padding: 64px 0;
    }

        .news_view .view_btn button {
            width: 250px;
            height: 70px;
            border: 1px solid #d2d2d2;
            background: none;
            font-size: 16px;
            font-family: inherit;
            font-weight: 500;
        }

    .news_view .view_list {
        border-top: 1px solid #d2d2d2;
    }

        .news_view .view_list > div {
            padding: 25px 0;
            border-bottom: 1px solid #d2d2d2;
        }

        .news_view .view_list .ind {
            float: left;
            width: 100px;
            text-align: center;
            vertical-align: middle;
        }

        .news_view .view_list .tit {
            float: right;
            width: calc(100% - 100px);
            vertical-align: middle;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 500;
        }

            .news_view .view_list .tit a:hover {
                text-decoration: underline;
            }

@media all and (max-width: 768px) {
    .news_view .view_detail, .news_view .view_btn {
        padding: 42px 0;
    }
}

@media all and (max-width: 480px) {
    .news_view .view_btn button {
        width: 180px;
        height: 50px;
        font-size: 14px;
    }

    .news_view .view_head .view_title {
        font-size: 18px;
    }

    .news_view .view_list .ind {
        width: 70px;
    }

    .news_view .view_list .tit {
        width: calc(100% - 70px);
    }
}


/* sub 2. Works */

.work_category {
    font-size: 0;
    margin-bottom: 20px;
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
}

    /*
.work_category button.listbtn {
    width: 25%;
    height: 60px;
    background: #ff3a1f url('../images/prev.png') no-repeat 5% 50%;
    color: #fff;
    font: 500 18px 'Noto Sans KR';
}
*/

    .work_category li {
        float: left;
        font-size: 18px;
        width: 37.5%;
        text-align: center;
        box-sizing: border-box;
        line-height: 60px;
        border: 1px solid #d2d2d2;
        border-right: 0;
        background: #fff;
        font-weight: 500;
        transition: 0.3s;
        position: relative;
    }

        .work_category li:first-child {
            width: 25%;
        }

        .work_category li:last-child {
            border-right: 1px solid #d2d2d2;
        }

        .work_category li.on {
            background: #ff3a1f;
            color: #fff;
            font-weight: 900;
            border-color: #ff3a1f;
        }

            .work_category li.on:after {
                display: none;
            }

        .work_category li:after {
            width: 0;
            height: 1px;
            content: "";
            position: absolute;
            background: #ff3a1f;
            left: 0;
            bottom: -1px;
            transition: 0.5s;
        }

        .work_category li:hover:after {
            width: 100%;
        }

        .work_category li a {
            transition: 0.5s;
            display: inline-block;
            width: 100%;
        }

        .work_category li:hover a {
            opacity: 0.6;
        }

        .work_category li.on:hover a {
            opacity: 0.8;
        }

        .work_category li span {
            color: #ccc;
        }

.work_list .item {
    width: 300px;
    float: left;
    overflow: hidden;
    background: #f5f5f5;
    position: relative;
}

    .work_list .item a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .work_list .item .imgwrap {
        z-index: 9;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
    }

        .work_list .item .imgwrap img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .work_list .item .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(51, 51, 51, 0.7);
        z-index: 10;
        color: #fff;
        display: none;
        left: 0;
        top: 0;
    }

    .work_list .item .textwrap {
        position: absolute;
        left: 45px;
        top: 60%;
        transform: translateY(-40%);
        width: calc(100% - 90px);
    }

        .work_list .item .textwrap .title {
            position: relative;
        }

            .work_list .item .textwrap .title:before {
                position: absolute;
                width: 14px;
                height: 14px;
                background: #ff3a1f;
                content: "";
                z-index: -1;
                left: -7px;
                top: -4px;
            }

            .work_list .item .textwrap .title p {
                line-height: 1.4;
            }

            .work_list .item .textwrap .title .p2 {
                font-size: 18px;
                font-weight: 500;
                word-break: keep-all;
            }

        .work_list .item .textwrap .title_sub {
            margin-top: 45px;
            font-size: 12px;
            line-height: 1.8;
            position: relative;
        }

            .work_list .item .textwrap .title_sub:after {
                width: 30px;
                height: 1px;
                content: "";
                background: #ff3a1f;
                position: absolute;
                transform: rotate(135deg);
                bottom: -30px;
            }

        .work_list .item .textwrap .title_date {
            margin-top: 60px;
        }

@media all and (max-width: 1200px) {
    .work_list .item {
        width: calc(100% / 3);
    }
}

@media all and (max-width: 768px) {
    .work_list .item {
        width: calc(100% / 2);
    }
}

@media all and (max-width: 600px) {
    .work_list .item {
        width: 100%;
    }
}

@media all and (max-width: 480px) {
    .work_category li {
        font-size: 14px;
    }
}

@media all and (max-width: 320px) {
    .work_category li {
        font-size: 13px;
    }
}

.page_content.view {
    padding-bottom: 0;
    width: 100%;
}

    .page_content.view .work_category {
        width: 1200px;
        left: 50%;
        margin-left: -600px;
        text-align: right;
    }

    .page_content.view .go_list {
        font-size: 0;
        margin-bottom: 20px;
        position: absolute;
        top: 0px;
        width: 1200px;
        margin-left: -600px;
        left: 50%;
        padding-top: 30px;
        text-align: right;
    }

    .page_content.view .work_category button {
        width: 250px;
        height: 60px;
        background: #ff3a1f url('../images/prev.png') no-repeat 5% 50%;
        font-size: 16px;
        font-family: inherit;
        font-weight: 500;
        color: #fff;
    }

    .page_content.view .work_view .view_top {
        width: 1200px;
        height: 700px;
        margin: 0 auto;
        position: relative;
    }

.work_view .view_text {
    padding: 120px 0 0 0;
    width: 50%;
    float: left;
}

    .work_view .view_text .title {
        position: relative;
        margin-bottom: 160px;
    }

        .work_view .view_text .title:after {
            position: absolute;
            width: 50px;
            height: 2px;
            content: "";
            background: #ff3a1f;
            left: 0;
            bottom: -100px;
        }

.view_text .title p {
    line-height: 1.1;
    word-break: keep-all;
}

.view_text .title .p1 {
    font-size: 36px;
}

.view_text .title .p2 {
    font-size: 48px;
    font-weight: 700;
}

.view_text .view_info dl {
    width: 100%;
    margin-bottom: 40px;
}

.view_text .view_info dt {
    font-size: 16px;
    font-weight: 700;
    float: left;
    width: 65px;
    line-height: 30px;
}

.view_text .view_info dd {
    font-size: 16px;
    float: left;
    line-height: 30px;
    width: calc(100% - 65px);
}

.view_text .view_info button {
    width: 250px;
    height: 70px;
    background: none;
    border: 1px solid #d2d2d2;
    font-size: 16px;
    font-weight: 700;
    transition: 0.4s;
    position: relative;
}

    .view_text .view_info button:after {
        position: absolute;
        width: 0%;
        height: 100%;
        background: #ff3a1f;
        content: "";
        left: 0;
        top: 0;
        z-index: -1;
        transition: 0.4s;
    }

    .view_text .view_info button:hover {
        color: #fff;
    }

        .view_text .view_info button:hover:after {
            width: 100%;
        }

.work_view .view_img {
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
}

    .work_view .view_img img {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        max-width: 100%;
    }

.work_view .view_index {
    background: #f7f7f7;
}

.view_index .inner {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    font-size: 16px;
    line-height: 1.6;
}

.work_view .view_pc {
}

.work_view .view_mb {
    background: #f5f5f5;
}

    .work_view .view_pc .inner, .work_view .view_mb .inner {
        width: 1200px;
        margin: 0 auto;
        padding: 60px 0 80px;
        text-align: center;
    }

        .work_view .view_pc .inner h3, .work_view .view_mb .inner h3 {
            font-size: 24px;
            font-weight: 700;
            vertical-align: middle;
            margin-bottom: 80px;
            text-align: left;
        }

            .work_view .view_pc .inner h3:before, .work_view .view_mb .inner h3:before {
                width: 50px;
                height: 2px;
                background: #333;
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-right: 15px;
            }

        .work_view .view_pc .inner img, .work_view .view_mb .inner img {
            max-width: 100%;
        }

@media all and (max-width: 1200px) {
    .page_content.view .work_category {
        width: 90%;
        margin-left: 0;
        transform: translateX(-50%);
    }

    .page_content.view .work_view .view_top, .view_index .inner, .work_view .view_pc .inner, .work_view .view_mb .inner {
        width: 90%;
    }
}

@media all and (max-width: 768px) {
    .page_content.view .work_view .view_top {
        height: auto;
    }

    .work_view .view_img {
        display: none;
    }

    .work_view .view_text {
        padding: 60px 0;
        width: 100%;
    }
}

@media all and (max-width: 480px) {
    .work_view .view_pc .inner, .work_view .view_mb .inner {
        padding: 50px 0;
    }

    .view_text .title .p1 {
        font-size: 24px;
    }

    .view_text .title .p2 {
        font-size: 36px;
    }

    .work_view .view_text .title {
        margin-bottom: 100px;
    }

        .work_view .view_text .title:after {
            bottom: -60px;
        }

    .view_text .view_info button {
        width: 180px;
        height: 50px;
    }

    .view_text .view_info dt, .view_text .view_info dd {
        font-size: 14px;
        line-height: 24px;
    }

    .work_view .view_pc .inner h3, .work_view .view_mb .inner h3 {
        margin-bottom: 50px;
    }
}


.innov_category {
    font-size: 0;
    margin-bottom: 20px;
    position: absolute;
    left: 0;
    top: -30px;
    width: 100%;
}

    .innov_category li {
        float: left;
        font-size: 18px;
        width: 50%;
        text-align: center;
        box-sizing: border-box;
        line-height: 60px;
        border: 1px solid #d2d2d2;
        border-right: 0;
        background: #fff;
        font-weight: 500;
        transition: 0.3s;
        position: relative;
    }

        .innov_category li:last-child {
            border-right: 1px solid #d2d2d2;
        }

        .innov_category li.on {
            background: #ff3a1f;
            color: #fff;
            font-weight: 900;
            border-color: #ff3a1f;
        }

            .innov_category li.on:after {
                display: none;
            }

        .innov_category li:after {
            width: 0;
            height: 1px;
            content: "";
            position: absolute;
            background: #ff3a1f;
            left: 0;
            bottom: -1px;
            transition: 0.5s;
        }

        .innov_category li:hover:after {
            width: 100%;
        }

        .innov_category li a {
            transition: 0.5s;
            display: inline-block;
            width: 100%;
        }

        .innov_category li:hover a {
            opacity: 0.6;
        }

        .innov_category li.on:hover a {
            opacity: 0.8;
        }

.innov .innov_cont {
    padding: 30px 0 0 0;
}

.innov_cont .title {
    text-align: center;
    line-height: 1.2;
    margin-bottom: 48px;
}

    .innov_cont .title p {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.6;
    }

        .innov_cont .title p.bold {
            font-size: 36px;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 16px;
        }

@media all and (max-width: 480px) {
    .innov_category li {
        font-size: 14px;
    }

    .innov_cont .title p {
        font-size: 18px;
        word-break: keep-all;
    }

        .innov_cont .title p.bold {
            font-size: 30px;
        }
}

/* azure */

.innov_cont .prompt .attach {
    text-align: center;
    padding-bottom: 40px;
}

    .innov_cont .prompt .attach #attach_img {
        display: none;
    }

    .innov_cont .prompt .attach .attbtn {
        width: 250px;
        line-height: 70px;
        background: none;
        border: 1px solid #d2d2d2;
        font-size: 16px;
        font-weight: 500;
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
        box-sizing: border-box;
    }

    .innov_cont .prompt .attach .sendbtn {
        width: 250px;
        height: 72px;
        border: 1px solid #d2d2d2;
        background: none;
        font: 500 16px 'Noto Sans KR';
        vertical-align: middle;
    }

    .innov_cont .prompt .attach .alert {
        padding-top: 10px;
        color: #999;
    }

        .innov_cont .prompt .attach .alert strong {
            font-weight: 700;
            color: #777;
        }

.innov_cont .prompt .imgwrap {
    width: 50%;
    height: 400px;
    float: left;
    text-align: center;
}

    .innov_cont .prompt .imgwrap img {
        max-width: 100%;
        max-height: 100%;
    }

.innov_cont .prompt .txtwrap {
    width: 47%;
    height: 400px;
    box-sizing: border-box;
    float: right;
}

    .innov_cont .prompt .txtwrap .heads {
        line-height: 40px;
        border: 1px solid #d2d2d2;
        border-bottom: 0;
        background: #f5f5f5;
        position: relative;
    }

        .innov_cont .prompt .txtwrap .heads .decor_wrap {
            float: left;
            padding: 13px 0;
            margin-right: 15px;
            padding-left: 10px;
        }

            .innov_cont .prompt .txtwrap .heads .decor_wrap > div {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                float: left;
                margin: 0 3px;
            }

                .innov_cont .prompt .txtwrap .heads .decor_wrap > div.deco1 {
                    background: #fe6158;
                }

                .innov_cont .prompt .txtwrap .heads .decor_wrap > div.deco2 {
                    background: #ffbe2e;
                }

                .innov_cont .prompt .txtwrap .heads .decor_wrap > div.deco3 {
                    background: #29d042;
                }

        .innov_cont .prompt .txtwrap .heads .decor_txt {
            float: left;
            padding: 0 15px 0 20px;
            font-size: 16px;
            font-weight: 500;
            color: #999;
            background: #fff;
            border-radius: 10px 10px 0 0;
            border: 1px solid #d2d2d2;
            border-width: 0 1px 0 1px;
        }

            .innov_cont .prompt .txtwrap .heads .decor_txt span {
                font-weight: 300;
                color: #ccc;
            }

    .innov_cont .prompt .txtwrap .results {
        padding: 10px 15px;
        border: 1px solid #d2d2d2;
        height: 360px;
        box-sizing: border-box;
        overflow-y: scroll;
    }

        .innov_cont .prompt .txtwrap .results p {
            margin: 10px 0 20px;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
        }

        .innov_cont .prompt .txtwrap .results dl {
            line-height: 30px;
            height: 30px;
        }

        .innov_cont .prompt .txtwrap .results dt {
            float: left;
            width: 60px;
            font-weight: 500;
        }

        .innov_cont .prompt .txtwrap .results dd {
            margin-left: 60px;
        }

.innov_cont .azure_cont .imgwrap {
    margin: 50px 0;
}

    .innov_cont .azure_cont .imgwrap img {
        max-width: 100%;
    }

.innov_cont .azure_cont .txtwrap {
    font-size: 16px;
}

.innov_cont .azure_cont .para_bold {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.innov_cont .azure_cont .vidbtn_set {
    padding: 30px 0;
}

    .innov_cont .azure_cont .vidbtn_set .vidbtn {
        font: inherit;
        text-align: center;
        background: none;
        width: 250px;
        height: 70px;
        border: 1px solid #d2d2d2;
        font-size: 16px;
        font-weight: 500;
        position: relative;
    }

.innov_cont .azure_cont .list {
    margin-top: 20px;
}

    .innov_cont .azure_cont .list li {
        list-style: decimal;
        margin-left: 20px;
        margin-bottom: 10px;
    }

        .innov_cont .azure_cont .list li em {
            font-weight: 500;
        }

.innov_cont .azure_cont .mgt {
    margin-top: 60px;
}

/* power */

.innov_cont .ifr_wrap p {
    font-size: 24px;
    font-weight: 700;
    color: #ff3a1f;
    margin: 20px 0 10px 0;
}

    .innov_cont .ifr_wrap p span {
        color: #333;
        font-weight: 500;
        font-size: 18px;
    }

.innov_cont .ifr_wrap:last-child iframe {
    height: 600px;
}

.innov_cont .pw_cont .imgwrap {
    margin: 50px 0;
}

    .innov_cont .pw_cont .imgwrap img {
        max-width: 100%;
    }

.innov_cont .pw_cont .txtwrap {
    font-size: 16px;
}

.innov_cont .pw_cont .para_bold {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.innov_cont .pw_cont .vidbtn_set {
    padding: 30px 0;
}

    .innov_cont .pw_cont .vidbtn_set .vidbtn {
        font: inherit;
        text-align: center;
        background: none;
        width: 250px;
        height: 70px;
        border: 1px solid #d2d2d2;
        font-size: 16px;
        font-weight: 500;
        position: relative;
    }

.innov_cont .pw_tabs {
    margin-top: 20px;
}

    .innov_cont .pw_tabs .buts li {
        float: left;
        width: calc(100% / 3);
        text-align: center;
        font-size: 18px;
        color: #999;
        border-bottom: 1px solid #d2d2d2;
        box-sizing: border-box;
        line-height: 60px;
        position: relative;
    }

        .innov_cont .pw_tabs .buts li a {
            display: block;
            width: 100%;
            height: 100%;
        }

        .innov_cont .pw_tabs .buts li.on {
            border-bottom: 1px solid #ff3a1f;
            color: #333;
            font-weight: 500;
        }

        .innov_cont .pw_tabs .buts li:after {
            content: "";
            width: 1px;
            height: 20px;
            background: #d2d2d2;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -10px;
        }

        .innov_cont .pw_tabs .buts li:last-child:after {
            display: none;
        }

    .innov_cont .pw_tabs .tabs li {
        width: 100%;
        height: 0;
        /*    display: none;*/
    }

        .innov_cont .pw_tabs .tabs li:first-child {
            height: auto;
        }

        .innov_cont .pw_tabs .tabs li .tabdiv {
            width: 100%;
            height: 100%;
            padding: 20px 0 0 0;
            color: #333;
            overflow: hidden;
        }

    .innov_cont .pw_tabs .tabs .urlbtn {
        font: inherit;
        color: #333;
        display: inline-block;
        padding: 10px 20px 10px 0;
        background: url('../images/page/go_url.png') no-repeat 100% 50%;
        border-bottom: 1px dashed #d2d2d2;
        margin-right: 20px;
    }

    .innov_cont .pw_tabs .tabs li .tabdiv .imgp {
        padding: 20px 0 0 0;
        text-align: center;
        font-size: 0;
    }

        .innov_cont .pw_tabs .tabs li .tabdiv .imgp img {
            margin-bottom: 20px;
            max-width: 100%;
        }

            .innov_cont .pw_tabs .tabs li .tabdiv .imgp img.p3 {
                width: 32%;
                margin-right: 1%;
            }

            .innov_cont .pw_tabs .tabs li .tabdiv .imgp img.p2 {
                width: 49%;
                margin-right: 1%;
            }

            .innov_cont .pw_tabs .tabs li .tabdiv .imgp img.p0 {
                max-width: 100%;
            }

.swiper-container {
    width: 100%;
    height: 550px;
    margin: 20px 0;
}

.swiper-slide {
    text-align: center;
}

    .swiper-slide img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
    }

.swiper-pagination {
}

.innov_cont .pw_tabs .acc_list {
    border-top: 1px solid #d2d2d2;
}

.innov_cont .pw_tabs .acc_title {
    padding: 20px 0;
    border-bottom: 1px solid #d2d2d2;
    font-size: 16px;
    font-weight: 500;
}

.innov_cont .pw_tabs .acc_cont {
    /*    padding: 20px;*/
    box-sizing: border-box;
    background: #f7f7f7;
    height: 0;
    overflow: hidden;
}

    .innov_cont .pw_tabs .acc_cont.def {
        height: auto;
    }


/* d365 */

.innov_cont .d_trial ol li {
    list-style: decimal;
    margin-left: 20px;
    font-size: 16px;
    line-height: 2;
}

.innov_cont .d_trial li p {
    /*    text-align: center;*/
    margin-bottom: 20px;
}

    .innov_cont .d_trial li p img {
        max-width: 100%;
    }

.innov_cont .dy_cont .innoVid {
    margin: 50px 0;
}

.innov_cont .dy_cont .txtwrap {
    font-size: 16px;
}

.innov_cont .dy_cont .para_bold {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.innov_cont .dy_cont .vidbtn_set {
    padding: 30px 0;
}

    .innov_cont .dy_cont .vidbtn_set .vidbtn {
        font: inherit;
        text-align: center;
        background: none;
        width: 250px;
        height: 70px;
        border: 1px solid #d2d2d2;
        font-size: 16px;
        font-weight: 500;
        position: relative;
    }

.innov_cont .pw_tabs.dy .buts li {
    width: 25%;
}

.innov_cont .pw_tabs .tabs .tab_bold {
    font-size: 16px;
    font-weight: 500;
}

.innov_cont .pw_tabs .tabs .tab_img {
    margin-top: 30px;
}

    .innov_cont .pw_tabs .tabs .tab_img img {
        max-width: 100%;
    }

@media all and (max-width: 768px) {
    .innov_cont .prompt .imgwrap {
        width: 100%;
        margin-bottom: 20px;
    }

    .innov_cont .prompt .txtwrap {
        width: 100%;
    }

    .innov_cont .pw_tabs .tabs li .tabdiv .imgp img.p2,
    .innov_cont .pw_tabs .tabs li .tabdiv .imgp img.p3 {
        width: 100%;
        margin-right: 0;
    }
}

@media all and (max-width: 480px) {
    .innov_cont .azure_cont .vidbtn_set .vidbtn,
    .innov_cont .dy_cont .vidbtn_set .vidbtn,
    .innov_cont .pw_cont .vidbtn_set .vidbtn,
    .innov_cont .prompt .attach .attbtn,
    .innov_cont .prompt .attach .sendbtn {
        width: 200px;
        height: 50px;
        font-size: 14px;
        margin-bottom: 6px;
    }

    .innov_cont .prompt .attach .attbtn {
        line-height: 50px;
    }

    .innov_cont .prompt .imgwrap {
        height: auto;
    }

    .innov_cont .prompt .attach .alert {
        font-size: 12px;
    }

    .innov_cont .d_trial ol li {
        font-size: 14px;
    }

    .innov_cont .ifr_wrap p {
        font-size: 16px;
    }

    .innov_cont .ifr_wrap:last-child iframe {
        height: 350px;
    }

    .innov_cont .azure_cont .txtwrap, .innov_cont .dy_cont .txtwrap,
    .innov_cont .pw_cont .txtwrap {
        font-size: 14px;
    }

    .innov_cont .azure_cont .para_bold, .innov_cont .dy_cont .para_bold,
    .innov_cont .pw_cont .para_bold {
        font-size: 20px;
    }

    .innov_cont .pw_tabs .buts li {
        font-size: 14px;
        line-height: 48px;
    }

        .innov_cont .pw_tabs .buts li:after {
            height: 14px;
            margin-top: -7px;
        }

    .innov_cont .azure_cont .mgt {
        margin-top: 40px;
    }

    .swiper-container {
        height: 250px;
    }
}

@media all and (max-width: 350px) {
    .innov_category li, .innov_cont .pw_tabs .buts li {
        font-size: 12px;
    }
}

.policy .pol_title {
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #d2d2d2;
}

    .policy .pol_title h3 {
        font-size: 36px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 16px;
    }

    .policy .pol_title p.bold {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.6;
        margin-bottom: 16px;
    }

    .policy .pol_title p:not(.bold) {
        text-align: justify;
        line-height: 1.8;
    }

.policy .pol_idx ol li {
    line-height: 1.8;
    word-break: keep-all;
}

    .policy .pol_idx ol li a:hover {
        text-decoration: underline;
    }

.policy .pol_box {
    margin-bottom: 40px;
}

.pol_box h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.pol_box .box_cont strong {
    font-weight: 500;
}

.pol_box .box_cont a:hover {
    opacity: 0.6;
}

.pol_box .box_cont table {
    width: 100%;
    table-layout: fixed;
    margin: 20px 0;
    border-collapse: collapse;
}

    .pol_box .box_cont table th {
        background: #f5f5f5;
        border: 1px solid #d2d2d2;
        padding: 10px;
        font-weight: 500;
    }

    .pol_box .box_cont table tr th:first-child,
    .pol_box .box_cont table tr td:first-child {
        border-left: 0;
    }

    .pol_box .box_cont table tr th:last-child,
    .pol_box .box_cont table tr td:last-child {
        border-right: 0;
    }

    .pol_box .box_cont table tr:first-child th {
        border-top: 2px solid #ff3a1f;
    }

    .pol_box .box_cont table td {
        text-align: center;
        padding: 10px;
        border: 1px solid #d2d2d2;
    }


/* 오시는 길 */

.about_dir {
    width: 1200px;
    margin: 0 auto;
    text-align: left;
}

    .about_dir .map_content {
        margin-bottom: 40px;
    }

.dir_addr {
    margin-bottom: 60px;
}

.dir_desc {
    width: 100%;
    margin: 10px 0;
}

    .dir_desc:after {
        clear: both;
        display: block;
        content: "";
    }

    .dir_desc dt {
        float: left;
        width: 70px;
        font-weight: 600;
    }

    .dir_desc dd {
        width: calc(100% - 70px);
        float: right;
    }

.dir_info .info_title {
    font-size: 18px;
    font-weight: 600;
    padding-left: 12px;
    position: relative;
}

    .dir_info .info_title:before {
        position: absolute;
        width: 3px;
        height: 16px;
        content: "";
        background: #ff3a1f;
        left: 0;
        top: 50%;
        margin-top: -8px;
    }

.dir_info ul {
    margin-bottom: 30px;
}

.dir_info li {
    margin-left: 12px;
    line-height: 1.7;
}

@media all and (max-width: 1200px) {
    .about_dir {
        width: 90%;
    }
}



/* solutions */

.news_list.sol .entry.thumb .ent_txt {
    width: 50%;
}

.news_list.sol .entry .ent_txt .title {
    font-size: 20px;
    margin-bottom: 4px;
}

.news_list.sol .entry .ent_txt .subtitle {
    font-size: 16px;
    margin-bottom: 10px;
}

.news_list.sol .entry .ent_img {
    width: 50%;
    height: 240px;
    text-align: center;
    padding-right: 16px;
    box-sizing: border-box;
}

    .news_list.sol .entry .ent_img img {
        max-width: 100%;
        max-height: 100%;
    }

.news_list.sol .entry .ent_txt .tit_soldetail {
    max-height: 10.8em;
    overflow: hidden;
}

.news_view.sol .view_head .view_title {
    margin-bottom: 5px;
}

.news_view.sol .view_head .view_subtitle {
    font-size: 16px;
    margin-bottom: 12px;
}


@media all and (max-width: 480px) {
    .news_list.sol .entry.thumb .ent_txt {
        width: 100%;
    }

    .news_list.sol .entry .ent_img {
        display: none;
    }
}
