/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, ul, ol, li, small, strike, strong, sub, sup, tt, var, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ul, li, ol {
    list-style: none;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    border: 0;
}

button, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.skip_nav a {
    position: absolute;
    top: -9999px;
    font-size: 0;
}

.skip_nav a:focus {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    padding: 5px;
    font-size: 15px;
    color: #000;
    background: yellow;
}

.blind {
    position: absolute;
    top: -9999px;
    font-size: 0;
}

.clear:after {
    clear: both;
    content: "";
    display: block;
}