.mainpage main {
    width: 100%;
    background: url('../images/main/mainbg.jpg') no-repeat center top;
    background-size: cover;
}

.mainpage main .w_wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mainpage main .w_main {
    color: #ff3a1f;
    font-size: 48px;
    font-weight: 900;
}

.mainpage main .w_sub {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}