﻿
@{
    ViewBag.Title = "Works";
    ViewBag.menuselect = Request.Url.AbsolutePath;
    var w1 = ViewBag.workslist;
    var w2 = ViewBag.workslist_p;
    var w3 = ViewBag.workslist_m;
    //var w = "";
    var type_crm = "";
    var type_web = "";
    var type_app = "";
    var type = "";
    var href = "";

}
<link rel="stylesheet" href="static/css/iuistyle.css">
<script src="static/js/iuiscript.js"></script>
<div id="ddrS6gqxjncTN4aZJAOlnsL4O0X85hQiMiJNnzkMuzyU"></div>
<script language="javascript" type="text/javascript">(function (id, f, t, ws, ms_tr_il_08, ms_tr_il_w_01) { var tr = function (cb) { var count = 0; var callback = function () { if (count == 0) { count++; if (w) { w.w(id, t, cb); } } }; var ts = document.createElement('script'); ts.src = ws; ts.type = 'text/javascript'; ts.onload = callback; ts.onreadystatechange = function () { if (this.readyState == 'complete' || this.readyState == 'loaded') { callback(); } }; var head = document.getElementsByTagName('head')[0]; head.appendChild(ts); }; if (typeof ms_tr_il_08 === 'function') { if (ms_tr_il_w_01 === null) { tr(function () { ms_tr_il_08(id, f, t); }); } else { ms_tr_il_w_01.w(id, t, function (websiteVisitedParams) { ms_tr_il_08(id, f, t, websiteVisitedParams); }, null); } } else { tr(); } })('drS6gqxjncTN4aZJAOlnsL4O0X85hQiMiJNnzkMuzyU', 'https://eaa65c3858f34c2f80cb84a3d1cea8ec.svc.dynamics.com/f', 'https://eaa65c3858f34c2f80cb84a3d1cea8ec.svc.dynamics.com/t', 'https://eaa65c3858f34c2f80cb84a3d1cea8ec.svc.dynamics.com/t/w', typeof ms_tr_il_08 === "undefined" ? null : ms_tr_il_08, typeof ms_tr_il_w_01 === "undefined" ? null : ms_tr_il_w_01);</script>
<script src="https://mktdplp102cdn.azureedge.net/public/latest/js/form-loader.js?v=1.58.1075.0"></script> <div class="d365-mkt-config" style="display:none" data-website-id="drS6gqxjncTN4aZJAOlnsL4O0X85hQiMiJNnzkMuzyU" data-hostname="eaa65c3858f34c2f80cb84a3d1cea8ec.svc.dynamics.com"> </div>
<!-- [시작] 본문 -->
<main>
    <div class="page_top sub02">
        <div class="page_text">
            <h2>Works</h2>
            <p>아이유아이의 포트폴리오를 볼 수 있습니다.</p>
        </div>
    </div>
    <div class="page_content">
        <div class="works">
            <!-- [시작] 포트폴리오 카테고리 -->
            <div class="work_category">
                <ul>
                    @*<li class="on"><a href="#">ALL <span>(5)</span></a></li>
                        <li><a href="#">Project <span>(5)</span></a></li>
                        <li><a href="#">Maintenance <span>(5)</span></a></li>*@
                    <li class="on" onclick="All()" id="All">ALL <span>@ViewBag.total_all</span></li>
                    <li onclick="Project()" id="Project">Project <span>@ViewBag.total_p</span></li>
                    <li onclick="Maintenance()" id="Maintenance">Maintenance <span>@ViewBag.total_m</span></li>
                </ul>
            </div>
            <!-- [끝] 포트폴리오 카테고리 -->
            <!-- [시작] 포트폴리오 리스트 :: 전체 -->
            <div class="work_list clear" id="works_all">


                <!-- [시작] 게시글 -->
                @foreach (var a in ViewBag.workslist)
                {
                    <div class="item">

                        <a href="/Works/Works_Detail/?id=@a.guid" onclick="Link()">

                            <!-- [★] 각 게시물 링크 여기에 걸기 -->
                            <div class="imgwrap"><img src="@a.imgurl" alt=""></div> <!-- [★] 최적 썸네일 사이즈 : 300*400 / alt값 입력창 만들 수 있는지... -->
                            <div class="overlay">
                                <div class="textwrap">
                                    <div class="title">
                                        <p class="p1">@a.iui_contactname</p>
                                        <p class="p2">@a.iui_title</p>
                                    </div>
                                    <div class="title_sub">

                                        @if (a.iui_type_crm == true)
                                        {
                                            type_crm = "Dynamics 365";
                                        }
                                        else
                                        {
                                            type_crm = "";
                                        }
                                        @if (a.iui_type_web == true)
                                        {
                                            type_web = "Responsive Web";
                                        }
                                        else
                                        {
                                            type_web = "";
                                        }
                                        @if (a.iui_type_app == true)
                                        {
                                            type_app = "Application";
                                        }
                                        else
                                        {
                                            type_app = "";
                                        }

                                        <p>@type_crm</p>
                                        <p>@type_web</p>
                                        <p>@type_app</p>
                                        <p>@a.iui_type_etc</p>
                                    </div>
                                    <div class="title_date">@a.iui_year</div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                <!-- [끝] 게시글 -->

            </div>

            <!--Project 선택시 리스트-->
            <div class="work_list clear" id="works_project">
                <!-- [시작] 게시글 -->
                @foreach (var a in ViewBag.workslist_p)
                {
                    <div class="item">
                        <a href="/Works/Works_Detail/?id=@a.guid">
                            <!-- [★] 각 게시물 링크 여기에 걸기 -->
                            <div class="imgwrap"><img src="@a.imgurl" alt=""></div> <!-- [★] 최적 썸네일 사이즈 : 300*400 / alt값 입력창 만들 수 있는지... -->
                            <div class="overlay">
                                <div class="textwrap">
                                    <div class="title">
                                        <p class="p1">@a.iui_contactname</p>
                                        <p class="p2">@a.iui_title</p>
                                    </div>
                                    <div class="title_sub">

                                        @if (a.iui_type_crm == true)
                                        {
                                            type_crm = "Dynamics 365";
                                        }
                                        else
                                        {
                                            type_crm = "";
                                        }
                                        @if (a.iui_type_web == true)
                                        {
                                            type_web = "Responsive Web";
                                        }
                                        else
                                        {
                                            type_web = "";
                                        }
                                        @if (a.iui_type_app == true)
                                        {
                                            type_app = "Application";
                                        }
                                        else
                                        {
                                            type_app = "";
                                        }

                                        @if (a.iui_field_maintenance == false)
                                        {
                                            type = "Project";
                                        }
                                        else
                                        {
                                            type = "";
                                        }


                                        <p>@type_crm</p>
                                        <p>@type_web</p>
                                        <p>@type_app</p>
                                        <p>@a.iui_type_etc</p>
                                        <p style="display:none;">@type</p>
                                    </div>
                                    <div class="title_date">@a.iui_year</div>
                                </div>
                            </div>
                        </a>
                    </div>
                }

                <!-- [끝] Progect 게시글 -->

            </div>

            <!--Maintenance 선택시 리스트-->
            <div class="work_list clear" id="works_maintenance">
                <!-- [시작] 게시글 -->

                @foreach (var a in ViewBag.workslist_m)
                {
                    <div class="item">
                        <a href="/Works/Works_Detail/?id=@a.guid">
                            <!-- [★] 각 게시물 링크 여기에 걸기 -->
                            <div class="imgwrap"><img src="@a.imgurl" alt=""></div> <!-- [★] 최적 썸네일 사이즈 : 300*400 / alt값 입력창 만들 수 있는지... -->
                            <div class="overlay">
                                <div class="textwrap">
                                    <div class="title">
                                        <p class="p1">@a.iui_contactname</p>
                                        <p class="p2">@a.iui_title</p>
                                    </div>
                                    <div class="title_sub">

                                        @if (a.iui_type_crm == true)
                                        {
                                            type_crm = "Dynamics 365";
                                        }
                                        else
                                        {
                                            type_crm = "";
                                        }
                                        @if (a.iui_type_web == true)
                                        {
                                            type_web = "Responsive Web";
                                        }
                                        else
                                        {
                                            type_web = "";
                                        }
                                        @if (a.iui_type_app == true)
                                        {
                                            type_app = "Application";
                                        }
                                        else
                                        {
                                            type_app = "";
                                        }

                                        @if (a.iui_field_maintenance == true)
                                        {
                                            type = "Project";
                                        }
                                        else
                                        {
                                            type = "";
                                        }


                                        <p>@type_crm</p>
                                        <p>@type_web</p>
                                        <p>@type_app</p>
                                        <p>@a.iui_type_etc</p>
                                        <p style="display:none;">@type</p>
                                    </div>
                                    <div class="title_date">@a.iui_year</div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                <!-- [끝] 게시글 -->

            </div>
        </div>
    </div>
</main>
<!-- [끝] 본문 -->

<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById("works_all").style.display = "block";
        document.getElementById("works_project").style.display = "none";
        document.getElementById("works_maintenance").style.display = "none";
    });

    function Link() {

    }

    function All() {
        $("#All").addClass('on');
        $("#Maintenance").removeClass('on');
        $("#Project").removeClass('on');
        document.getElementById("works_maintenance").style.display = "none";
        document.getElementById("works_project").style.display = "none";
        document.getElementById("works_all").style.display = "block";
    }
    function Project() {
        $("#Project").addClass('on');
        $("#Maintenance").removeClass('on');
        $("#All").removeClass('on');
        document.getElementById("works_all").style.display = "none";
        document.getElementById("works_maintenance").style.display = "none";
        document.getElementById("works_project").style.display = "block";

        //$.ajax({
        //    type: "POST",
        //    url: "/Board/Works_Project",
        //    data: {},
        //    cache: false,
        //    dataType: "json",
        //    xhrFields: { withCredentials: true },
        //    crossDomain: true,
        //    success: function (json) {
        //        var html = "";
        //        if (json != null && json.list.length > 0) {
        //            for (var i = 0; i < json.list.length; i++) {
        //                var id = json.list[i].guid;
        //                var iui_title = json.list[i].iui_title;
        //                var iui_contactname = json.list[i].iui_contactname;
        //                var iui_type_crm = json.list[i].iui_type_crm;
        //                var iui_type_web = json.list[i].iui_type_web;
        //                var iui_type_app = json.list[i].iui_type_app;
        //                var iui_type_etc = json.list[i].iui_type_etc;
        //                var iui_year = json.list[i].iui_year;
        //                var imgurl = json.list[i].imgurl;

        //                // html += '<div class="item">';
        //                html += '<a href="/Works/Works_Detail/?id=' + id + '">';
        //                html += '<div class="imgwrap">';
        //                html += '<img src=" ' + imgurl + '" alt="">';
        //                html += '</div>';
        //                html += '<div class="overlay">';
        //                html += '<div class="textwrap">';
        //                html += '<div class="title">';
        //                html += '<p class="p1">' + iui_contactname + '</p>';
        //                html += '<p class="p2">' + iui_title + '</p>';
        //                html += '</div>';
        //                html += '<div class="title_sub">';
        //                html += '<p>Dynamics 365</p>';
        //                html += '</div>';
        //                html += '<div class="title_date">2019.07</div>';
        //                html += '</div>';
        //                html += '</div>';
        //                html += '</a>';
        //                //html += '</div>';
        //            }


        //        }
        //        // $("#works_list").append(html);
        //        $("#works_list").html(html);
        //    },
        //    beforeSend: function () {
        //    },
        //    complete: function () {

        //    }

        //});

    }
    function Maintenance() {
        $("#Maintenance").addClass('on');
        $("#Project").removeClass('on');
        $("#All").removeClass('on');
        document.getElementById("works_all").style.display = "none";
        document.getElementById("works_project").style.display = "none";
        document.getElementById("works_maintenance").style.display = "block";
    }

    //function submit(str) {
    //    if (str == "All") {
    //        $("#All").click();
    //        alert(1111);
    //        $("#All").addClass("on");
    //        //PhotoGallery();
    //    } else if (str == "Project") {
    //        $("#Project").click();
    //        alert(2222);
    //        //$("#Project").addClass("on");
    //        $("").addClass("#Project");
    //        //PhotoGallery3(str);
    //    } else if (str == "Maintenance") {
    //        $("#Maintenance").click();
    //        alert(3333);
    //        $("").addClass("#Maintenance");
    //        //$("#Maintenance").addClass("on");
    //        //PhotoGallery4(str);
    //    }
    //}

    //function Project() {
    //    //var str = "All";

    //}

</script>
