﻿
@{
    ViewBag.Title = "Works";
    ViewBag.menuselect = Request.Url.AbsolutePath;
    var w1 = ViewBag.workslist;
    var w2 = ViewBag.workslist_p;
    var w3 = ViewBag.workslist_m;
    //var w = "";
    var type_crm = "";
    var type_web = "";
    var type_app = "";
    var type = "";
    var href = "";

}


<!-- [시작] 본문 -->
<main>
    <div class="page_top sub02">
        <div class="page_text">
            <h2>Works</h2>
            <p>아이유아이 포트폴리오</p>
        </div>
    </div>
    <div class="page_content">
        <div class="works">
            <!-- [시작] 포트폴리오 카테고리 -->
            <div class="work_category">
                <ul>
                    <li onclick="worksall()" id="all">ALL <span>()</span></li>
                    <li onclick="workspro()" id="pro">Project <span>()</span></li>
                    <li onclick="worksmain()" id="main">Maintenance <span>()</span></li>
                </ul>
            </div>
            <!-- [끝] 포트폴리오 카테고리 -->
            <!-- [시작] 포트폴리오 리스트 -->
            <div class="work_list clear" id="works_all">
                <!-- [시작] 게시글 -->
                @*<div class="item">
                    <a href="#">
                        <!-- [★] 각 게시물 링크 여기에 걸기 -->
                        <div class="imgwrap"><img src="static/images/works/thumb_daewoo.jpg" alt=""></div> <!-- [★] 최적 썸네일 사이즈 : 300*400 / alt값 입력창 만들 수 있는지... -->
                        <div class="overlay">
                            <div class="textwrap">
                                <div class="title">
                                    <p class="p1">대우조선해양</p>
                                    <p class="p2">Dynamics 365 시스템 업그레이드</p>
                                </div>
                                <div class="title_sub">
                                    <p>Dynamics 365</p>
                                </div>
                                <div class="title_date">2019.07</div>
                            </div>
                        </div>
                    </a>
                </div>*@
                <!-- [끝] 게시글 -->
            </div>
        </div>
    </div>
</main>
<!-- [끝] 본문 -->

<script>
    $(document).ready(function () {
        worksall();
    });


    function worksall() {
        $("#alll").addClass('on');
        $("#main").removeClass('on');
        $("#pro").removeClass('on');
        //$("#works_1").show();
        //$("#works_2").hide();
        //$("#works_3").hide();

        $.ajax({
            type: "POST",
            url: "/Works/Works_All",
            data: {

                //page: $("#page").val()
            },
            cache: false,
            dataType: "json",
            xhrFields: { withCredentials: true },
            crossDomain: true,
            success: function (json) {
                var html = "";

                if (json != null && json.list.length > 0) {
                    
                    
                    for (var i = 0; i < json.list.length; i++) {

                        var id = json.list[i].guid;
                        var iui_title = json.list[i].iui_title;
                        var iui_contactname = json.list[i].iui_contactname;
                        //var iui_type_crm = json.list[i].iui_type_crm;
                        //var iui_type_web = json.list[i].iui_type_web;
                        //var iui_type_app = json.list[i].iui_type_app;
                        //var iui_type_etc = json.list[i].iui_type_etc;
                        //var iui_year = json.list[i].iui_year;
                        var imgurl = json.list[i].imgurl;

                        html += '<div class="item">';
                        
                        html += '<a href="/Works/Works_Detail/?id=' + id + '">';
                        html += '<div class="imgwrap"><img src=" ' + imgurl + '" alt="">';
                        html += '</div>';
                        html += '<div class="overlay">';
                        html += '<div class="textwrap">';
                        html += '<div class="title">';
                        html += '<p class="p1">' + iui_contactname + '</p>';
                        html += '<p class="p2">' + iui_title + '</p>';
                        html += '</div>';
                        html += '<div class="title_sub">';
                        html += '<p>Dynamics 365</p>';
                        html += '</div>';
                        html += '<div class="title_date">2019.07</div>';
                        html += '</div>';
                        html += '</div>';
                        html += '</a>';
                        //html += '</div>';
                        html += '</div>';

                    }
                  


                }
                // $("#works_list").append(html);
                console.log(html);
              
                $("#works_all").html(html);
                //$(".work_list clear").html(html);
            },
            beforeSend: function () {
            },
            complete: function () {

            }

        });

    }

    function Project() {
        $("#Project").addClass('on');
        $("#Maintenance").removeClass('on');
        $("#All").removeClass('on');
        //document.getElementById("works_all").style.display = "none";
        //document.getElementById("works_maintenance").style.display = "none";
        //document.getElementById("works_project").style.display = "block";



    }
    function Maintenance() {
        $("#Maintenance").addClass('on');
        $("#Project").removeClass('on');
        $("#All").removeClass('on');
        //document.getElementById("works_all").style.display = "none";
        //document.getElementById("works_project").style.display = "none";
        //document.getElementById("works_maintenance").style.display = "block";
    }

</script>
