﻿
@{
    ViewBag.Title = "Works";
    ViewBag.menuselect = Request.Url.AbsolutePath;
    var w = ViewBag.works;
    var fieldcrm = "";
    var fieldpublishing = "";
    var fielddevelop = "";
    var fielddesign = "";
    var fieldmaintenance = "";

    var content = "";
}
<div id="ddrS6gqxjncTN4aZJAOlnsL4O0X85hQiMiJNnzkMuzyU"></div>
<script language="javascript" type="text/javascript">(function (id, f, t, ws, ms_tr_il_08, ms_tr_il_w_01) { var tr = function (cb) { var count = 0; var callback = function () { if (count == 0) { count++; if (w) { w.w(id, t, cb); } } }; var ts = document.createElement('script'); ts.src = ws; ts.type = 'text/javascript'; ts.onload = callback; ts.onreadystatechange = function () { if (this.readyState == 'complete' || this.readyState == 'loaded') { callback(); } }; var head = document.getElementsByTagName('head')[0]; head.appendChild(ts); }; if (typeof ms_tr_il_08 === 'function') { if (ms_tr_il_w_01 === null) { tr(function () { ms_tr_il_08(id, f, t); }); } else { ms_tr_il_w_01.w(id, t, function (websiteVisitedParams) { ms_tr_il_08(id, f, t, websiteVisitedParams); }, null); } } else { tr(); } })('drS6gqxjncTN4aZJAOlnsL4O0X85hQiMiJNnzkMuzyU', 'https://eaa65c3858f34c2f80cb84a3d1cea8ec.svc.dynamics.com/f', 'https://eaa65c3858f34c2f80cb84a3d1cea8ec.svc.dynamics.com/t', 'https://eaa65c3858f34c2f80cb84a3d1cea8ec.svc.dynamics.com/t/w', typeof ms_tr_il_08 === "undefined" ? null : ms_tr_il_08, typeof ms_tr_il_w_01 === "undefined" ? null : ms_tr_il_w_01);</script>
<script src="https://mktdplp102cdn.azureedge.net/public/latest/js/form-loader.js?v=1.58.1075.0"></script> <div class="d365-mkt-config" style="display:none" data-website-id="drS6gqxjncTN4aZJAOlnsL4O0X85hQiMiJNnzkMuzyU" data-hostname="eaa65c3858f34c2f80cb84a3d1cea8ec.svc.dynamics.com"> </div>
<main>
    <div class="page_top sub02">
        <div class="page_text">
            <h2>Works</h2>
            <p>아이유아이의 포트폴리오를 볼 수 있습니다.</p>
        </div>
    </div>
    <div class="page_content view">
        <div class="works">
            <!-- [시작] 포트폴리오 카테고리 -->
            <div class="work_category">
                <button type="button" class="listbtn" onclick="listbtn()">목록으로</button>
                @*<ul>
                    <li class="on"><a href="~/Works/Works" onclick="All()">ALL <span>(@ViewBag.total_all)</span></a></li>
                    <li><a href="~/Works/Works" onclick="Project()">Project <span>(@ViewBag.total_p)</span></a></li>
                    <li><a href="#" onclick="history.back(-1)">Project <span>(@ViewBag.total_p)</span></a></li>
                    <li><a href="~/Works/Works" class="list_btn"> 목록으로 </a></li>
                </ul>*@
            </div>
            <!-- [끝] 포트폴리오 카테고리 -->
            <!-- [시작] 포트폴리오 상세 보기 -->
            <div class="work_view">
                <div class="view_top clear">
                    <!-- [시작] 포트폴리오 정보 -->
                    <div class="view_text">
                        <div class="title">
                            <p class="p1">@w.iui_contactname</p>
                            <p class="p2">@w.iui_title</p>
                        </div>
                        <div class="view_info">
                            <dl class="clear">
                                <dt>Client</dt>
                                <dd>@w.iui_contactname</dd>

                                <dt>Date</dt>
                                <dd>@w.iui_year</dd>

                                <dt>Field</dt>
                                @*<dd>디자인 / 퍼블리싱 / 개발 / D365 시스템</dd>*@
                                <dd>
                                    @if (w.iui_field_d365 == true)
                                    {
                                        fieldcrm = "D365 시스템 |";
                                        @fieldcrm
                                    }
                                    else
                                    {
                                        fieldcrm = "";
                                        @fieldcrm
                                    }

                                    @if (w.iui_field_design == true)
                                    {
                                        fielddesign = "디자인 | ";
                                        @fielddesign
                                    }
                                    else
                                    {
                                        fielddesign = "";
                                        @fielddesign
                                    }

                                    @if (w.iui_field_develop == true)
                                    {
                                        fielddevelop = "개발 | ";
                                        @fielddevelop
                                    }
                                    else
                                    {
                                        fielddevelop = "";
                                        @fielddevelop
                                    }

                                    @if (w.iui_field_maintenance == true)
                                    {
                                        fieldmaintenance = "유지보수 |";
                                        @fieldmaintenance
                                    }
                                    else
                                    {
                                        fieldmaintenance = "";
                                        @fieldmaintenance
                                    }

                                    @if (w.iui_field_publishing == true)
                                    {
                                        fieldpublishing = "퍼블리싱 ";
                                        @fieldpublishing
                                    }
                                    else
                                    {
                                        fieldpublishing = "";
                                        @fieldpublishing
                                    }

                                </dd>
                            </dl>
                            <button type="button" onclick="goSite()">Launch Site</button>
                        </div>
                    </div>
                    <!-- [끝] 포트폴리오 정보 -->
                    <!-- [시작] 화면 미리보기 (모니터 목업) -->
                    <div class="view_img">
                        <img src="@w.iui_detail_imgurl" alt="본문 메인 사진">
                    </div>
                    <!-- [끝] 화면 미리보기 (모니터 목업) -->
                </div>
                <!-- [시작] 포트폴리오 개요 (입력 내용 없을 경우 미출력) -->
                <div class="view_index">
                    <div class="inner">
                        @Html.Raw(w.iui_content)
                    </div>
                </div>
                <!-- [끝] 프토플리오 개요 -->
                <!-- [시작] PC뷰 -->
                <div class="view_pc">
                    <div class="inner">
                        <h3>PC View</h3>
                        @*<img src="~/static/images/ex800.jpg" alt="">*@
                        <div>@Html.Raw(w.iui_pcview)</div>
                    </div>
                </div>
                <!-- [끝] PC뷰 -->
                <!-- [시작] 모바일 뷰 -->
                @*<div class="view_mb" style="background: #f7f7f7;">*@
                <div class="view_mb">
                    <div class="inner">
                        <h3>Mobile View</h3>
                        @Html.Raw(w.iui_mobileview)
                    </div>
                </div>
                <!-- [끝] 모바일 뷰 -->
            </div>
        </div>
    </div>
</main>
<!-- [끝] 본문 -->

<script>
    function goSite() {
        window.open("@w.iui_siteurl");
    }

    function listbtn() {
        location.href = "/Works/Works";
    }

</script>
