﻿@{
    ViewBag.Title = "Innovation";
    ViewBag.menuselect = Request.Url.AbsolutePath;

}

<!-- [시작] 본문 -->
<main>
    <div class="page_top sub03">
        <div class="page_text">
            <h2>Azure</h2>
            <p>클라우드 컴퓨팅의 세계를 둘러보고 Azure만의 특성을 알아보세요.</p>
        </div>
    </div>
    <div class="page_content">
        <div class="innov">
            <!-- [시작] 카테고리 -->
            <div class="innov_category">
                <ul>
                    <li class="on"><a href="#azure_cont">Azure 소개</a></li>
                    <li><a href="#azure_face" class="faceapi">Azure 기반 Face API 체험하기</a></li>
                </ul>
            </div>
            <!-- [끝] 카테고리 -->
            <!-- [시작] Azure 내용 시작 -->
            <div class="innov_cont">
                <div class="title">
                    <p class="bold">Microsoft Azure</p>
                    <p>비즈니스 앱을 위한 최상의 클라우드 플랫폼</p>
                </div>
                <!--[시작] Innovation Azure 소개-->
                <div class="azure_cont tab_box" id="azure_cont">
                    <div class="imgwrap tac">
                        <img src="~/static/images/page/intro/az00.png" alt="">
                    </div>
                    <div class="txtwrap">
                        <p class="para_bold">Azure란 무엇인가요?</p>
                        <p>Microsoft에서 관리하는 데이터 센터를 통해 애플리케이션 및 서비스를 구축, 테스트, 구축 및 관리하기 위해 만든 클라우드 컴퓨팅 서비스입니다. <br>서비스형 소프트웨어(SaaS), 서비스형 플랫폼(PaaS)및 서비스형 인프라(IaaS)를 제공하며 마이크로 소프트 전용 소프트웨어 및 타사 소프트웨어와 시스템을 포함한 다양한 프로그래밍 언어, 툴 및 프레임워크를 지원합니다.</p>
                        <p class="vidbtn_set tac">
                            <button type="button" class="vidbtn" onclick="window.open('https://www.youtube.com/watch?v=rfSYypHtuUw')">Azure 동영상 보기</button>
                        </p>
                    </div>
                    <div class="txtwrap mgt">
                        <p class="para_bold">Azure를 사용할 때의 장점</p>
                        <p>전 세계 조직이 기업 및 하이브리드 인프라를 위한 가장 신뢰할 수 있는 클라우드로 AWS(Amazon Web Services)보다 Microsoft Azure를 인정합니다.</p>
                        <ol class="list">
                            <li><em>경쟁력 있는 가격</em><br>AWS는 Windows Server 및 SQL Server용 Azure보다 5배 더 비쌉니다. Azure는 비슷한 서비스에 대해 AWS 가격과 같은 가격으로 최저가 보장을 제공합니다.</li>
                            <li><em>Azure의 오픈 소스를 사용하여 더 많은 성과 달성</em><br>Azure에서 모든 오픈 소스 OS, 언어 및 도구를 사용하세요. Azure는 2017년 GitHub에 가장 많이 기여했으며 Red Hat에 통합 지원을 제공하는 유일한 클라우드입니다.</li>
                            <li><em>사전 대응형 보안 및 규정 준수 강화</em><br>0개가 넘는 규정 준수 인증이 포함된 Azure의 규정 준수 제안을 확인할 수 있으며, 이 제안이 더 포괄적이라는 사실을 알게 될 것입니다.</li>
                            <li><em>기존 Microsoft 투자로부터 더 많은 가치 얻기</em><br>조직은 기존에 사용하던 도구와 지식을 계속 사용하며 해당 도구와 지식을 Azure Active Directory와 통합하여 온-프레미스 및 클라우드 기술에서 일관된 환경을 이용할 수 있습니다.</li>
                        </ol>
                    </div>
                    <div class="pw_tabs mgt">
                        <p class="para_bold">주요 기능</p>
                        <!-- [시작] 탭 버튼 -->
                        <ul class="buts clear">
                            <li class="on"><a href="#tab_ai">Azure AI</a></li>
                            <li><a href="#tab_iot">Azure IoT</a></li>
                            <li><a href="#tab_sto">Azure Storage</a></li>
                        </ul>
                        <!-- [끝] 탭 버튼 -->
                        <!-- [시작] 탭 내용 -->
                        <ul class="tabs">
                            <li id="tab_ai">
                                <div class="tabdiv def">
                                    <p>Microsoft는 최초로 개체 인식, 음성 인식, 기계 번역에 대한 인간과  동등한 수준을 달성하였습니다. 또한 Dynamics 365, Office 365, Bing 등 MS의 다양한 제품에 AI기능을 억세스 할 수 있습니다.</p>
                                    <p><a href="https://azure.microsoft.com/ko-kr/overview/ai-platform/" target="_blank" class="urlbtn">Azure AI에 대해 자세히 알아보기</a></p>
                                    <div class="swiper-container scp01">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img data-src="../static/images/page/intro/az01.gif" class="swiper-lazy">
                                                <div class="swiper-lazy-preloader"></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <img data-src="../static/images/page/intro/az02.gif" class="swiper-lazy">
                                                <div class="swiper-lazy-preloader"></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <img data-src="../static/images/page/intro/az03.gif" class="swiper-lazy">
                                                <div class="swiper-lazy-preloader"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                        <div class="swiper-button-next swiper-button-iui"></div>
                                        <div class="swiper-button-prev swiper-button-iui"></div>
                                    </div>
                                </div>
                            </li>
                            <li id="tab_iot">
                                <div class="tabdiv">
                                    <p>Azure IoT(사물 인터넷)는 수십억 개의 IoT 자산을 연결, 모니터링 및 제어하는 Microsoft 관리 클라우드 서비스의 모음입니다. 간단히 말해, IoT 솔루션은 하나 이상의 IoT 디바이스 및 서로 통신하는 클라우드에서 실행되는 하나 이상의 백 엔드 서비스로 구성됩니다.</p>
                                    <p><a href="https://azure.microsoft.com/ko-kr/overview/iot/" target="_blank" class="urlbtn">Azure IoT에 대해 자세히 알아보기</a></p>
                                    <div class="swiper-container scp02">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img data-src="../static/images/page/intro/az04.png" class="swiper-lazy">
                                                <div class="swiper-lazy-preloader"></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <img data-src="../static/images/page/intro/az05.gif" class="swiper-lazy">
                                                <div class="swiper-lazy-preloader"></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <img data-src="../static/images/page/intro/az06.gif" class="swiper-lazy">
                                                <div class="swiper-lazy-preloader"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                        <div class="swiper-button-next swiper-button-iui"></div>
                                        <div class="swiper-button-prev swiper-button-iui"></div>
                                    </div>
                                </div>
                            </li>
                            <li id="tab_sto">
                                <div class="tabdiv">
                                    <p>고객을 위한 앱을 구축하고 더 나은 서비스를 만드는 동시에, 데이터 인프라를 보호하는 보안 클라우드 스토리지를 확보합니다. 온-프레미스 데이터를 클라우드 데이터와 통합하여 결정적인 인사이트를 얻을 수 있습니다.</p>
                                    <p><a href="https://azure.microsoft.com/ko-kr/services/storage/disks/" target="_blank" class="urlbtn">Azure Storage에 대해 자세히 알아보기</a></p>
                                    <div class="swiper-container scp03">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img data-src="../static/images/page/intro/az07.png" class="swiper-lazy">
                                                <div class="swiper-lazy-preloader"></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <img data-src="../static/images/page/intro/az08.gif" class="swiper-lazy">
                                                <div class="swiper-lazy-preloader"></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <img data-src="../static/images/page/intro/az09.gif" class="swiper-lazy">
                                                <div class="swiper-lazy-preloader"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                        <div class="swiper-button-next swiper-button-iui"></div>
                                        <div class="swiper-button-prev swiper-button-iui"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- [끝] 탭 내용 -->
                    </div>
                </div>
                <!--[끝] Innovation Azure 소개-->
                <!--[시작] Innovation Azure Face API -->
                <div class="azure_face tab_box" id="azure_face">
                    <div class="prompt clear">
                        <div class="attach">
                            <form method="post" name="f">
                                <input type="file" id="attach_img" name="file">
                            </form>
                            <label for="attach_img" class="attbtn">이미지 첨부하기</label>
                            <button onclick="TestSend()" class="sendbtn">결과 보기</button>
                            <div class="alert">
                                <ul>
                                    <li><strong>이미지를 첨부한 후 [결과 보기] 버튼을 눌러주세요.</strong></li>
                                    <li>파일의 크기가 4MB를 초과할 경우 인식되지 않습니다.</li>
                                    <li>첨부한 사진은 저희의 DB에 저장되지 않습니다.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="imgwrap">
                            <img src="~/static/images/page/azure_test.jpg" alt="">
                        </div>
                        <div class="txtwrap">
                            <div class="heads clear">
                                <div class="decor_wrap clear">
                                    <div class="deco1"></div>
                                    <div class="deco2"></div>
                                    <div class="deco3"></div>
                                </div>
                                <div class="decor_txt">Result <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&times;</span></div>
                            </div>
                            <div class="results">
                                <p>얼굴 인식 결과입니다.</p>
                                <dl>
                                    @*<dt>성별</dt>
                            <dd>남성</dd>
                            <dt>나이</dt>
                            <dd>34세로 추정</dd>
                            <dt>안경</dt>
                            <dd>미착용</dd>
                            <dt>기분</dt>
                            <dd>
                                happiness 97%<br>
                                neutral 2.5%<br>
                                bla<br>
                                bla<br>
                                bla<br>
                                bla<br>
                                bla<br>
                                bla<br>
                                bla<br>
                                bla
                            </dd>*@
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <!--[끝] Innovation Azure Face API-->
            </div>
        </div>
    </div>
</main>
<!-- [끝] 본문 -->




<script>
    $(document).ready(function () {
        $(".azure_face").hide();
        $('#attach_img').change(function () {
            TestSend();
        })
    });

    $(".innov_category li a").click(function () {
        $(".innov_category li").removeClass("on");
        $(this).parent("li").addClass("on");
        $(".tab_box").hide();
        $($(this).attr("href")).show();

        return false;
    });

    if ($(window).width() <= 480) {
        $(".faceapi").text("Azure 기반 Face Api");
    }

    new Swiper('.scp01', {
        lazy: true,
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

    new Swiper('.scp02', {
        lazy: true,
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

    new Swiper('.scp03', {
        lazy: true,
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

    function TestSend() {
        var file = $('input[name="file"]')[0].files[0];
        var blob = new Blob([file], { type: 'image/jpeg' });
        var url = URL.createObjectURL(blob);
        $('.prompt div.imgwrap img').attr('src', url);

        $.ajax({
            type: "post",
            url: "/Innovation/Detect",
            data: new FormData(f),
            processData: false,
            contentType: false,
            success: function (json) {
                if (json.success && json.data.length != 0) {
                    alert("얼굴인식에 성공했습니다.");
                    var display = $('div.results dl');
                    display.empty();
                    for (var i = 0; i < json.data.length; i++) {
                        var e = json.data[i];
                        var a = e.faceAttributes;
                        display.append('<dt>성별</dt>');
                        display.append('<dd>' + (a.gender == 'male' ? '남성' : '여성') + '</dd>');
                        display.append('<dt>나이</dt>');
                        display.append('<dd>' + a.age + '</dd>');
                        display.append('<dt>안경</dt>');
                        display.append('<dd>' + (a.glasses == 'NoGlasses' ? '안경 미착용' : '안경 착용') + '</dd>');
                        display.append('<dt>기분</dt>');
                        var emotions = a.emotion;
                        for (var emotion in emotions) {
                            if (emotions[emotion] != 0) {
                                display.append('<dd>' + emotion + ':' + emotions[emotion] * 100 + '%</dd>');
                            }
                        }
                    }
                }
                else {
                    alert("얼굴인식을 실패했습니다. 사진을 다시 선택해 주세요.");
                }
            },
            error: function (r) {
                console.log(r.responseText);
            }
        });
    }
</script>