﻿@{
    ViewBag.Title = "Innovation";
    ViewBag.menuselect = Request.Url.AbsolutePath;

}

<!-- [시작] 본문 -->
<main>
    <div class="page_top sub03">
        <div class="page_text">
            <h2>Power Platform</h2>
            <p>Microsoft Power Platform을 통해 비즈니스 생산성을 향상시켜 보세요.</p>
        </div>
    </div>
    <div class="page_content">
        <div class="innov">
            <!-- [시작] 카테고리 -->
            <div class="innov_category">
                <ul>
                    <li class="on"><a href="#pw_index">Power Platform 소개</a></li>
                    <li><a href="#pw_show">Power BI 체험하기</a></li>
                </ul>
            </div>
            <!-- [끝] 카테고리 -->
            <!--[시작]Power 플랫폼-->
            <div class="innov_cont tab_box" id="pw_index">
                <div class="title">
                    <p class="bold">Microsoft Power Platform</p>
                    <p>데이터 분석·솔루션 구축·절차 자동화로 조직 혁신의 촉매제</p>
                </div>
                <div class="pw_cont">
                    <div class="imgwrap tac"><img src="~/static/images/page/intro/pw00.jpg" alt="파워플랫폼 구조"></div>
                    <div class="txtwrap">
                        <p class="para_bold">Power Platform이란 무엇인가요?</p>
                        <p>Power Platform은 Power Apps, Power BI 및 Power Automate를 사용하여 데이터를 쉽게 조작, 표면화, 자동화 및 분석할 수 있도록 도와주는 수단을 제공하며, Office 365 및 Dynamics 365 등과 함께 사용할 수 있습니다. Power Platform은 기본적으로 애플리케이션과 서비스가 상호 운용할 수 있도록 통합되고 간소화된 데이터 스키마를 제공하는 데이터 플랫폼인 Common Data Service를 기반으로 합니다.</p>
                        <p class="vidbtn_set tac">
                            <button type="button" class="vidbtn" onclick="window.open('https://www.youtube.com/watch?v=yKTSLffVGbk')">Power BI 동영상 보기</button> <button type="button" class="vidbtn" onclick="window.open('https://www.youtube.com/watch?v=sEHsnVIx31E')">Power Apps 동영상 보기</button> <button type="button" class="vidbtn" onclick="window.open('https://www.youtube.com/watch?v=hCuxuUaGC6Y')">Power Automate 동영상 보기</button>
                        </p>
                    </div>
                    <div class="pw_tabs">
                        <p class="para_bold">주요 기능</p>
                        <ul class="buts clear">
                            <li class="on"><a href="#tab_bi">Power BI</a></li>
                            <li><a href="#tab_app">Power Apps</a></li>
                            <li><a href="#tab_aut">Power Automate</a></li>
                        </ul>
                        <ul class="tabs">
                            <li id="tab_bi">
                                <div class="tabdiv def">
                                    <p>다양한 원본에서 데이터를 통합하여 실행 가능한 인사이트를 제공하고 비즈니스 결과를 끌어내는 몰입적인 대화형 대시보드 및 보고서를 만들 수 있습니다.</p>
                                    <p><a href="https://powerbi.microsoft.com/ko-kr/what-is-power-bi/" target="_blank" class="urlbtn">Power BI에 대해 자세히 알아보기</a></p>
                                    <div class="swiper-container scp01">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img data-src="../static/images/page/intro/pw01.gif" class="swiper-lazy">
                                                <div class="swiper-lazy-preloader"></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <img data-src="../static/images/page/intro/pw02.jpg" class="swiper-lazy">
                                                <div class="swiper-lazy-preloader"></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <img data-src="../static/images/page/intro/pw03.jpg" class="swiper-lazy">
                                                <div class="swiper-lazy-preloader"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                        <div class="swiper-button-next swiper-button-iui"></div>
                                        <div class="swiper-button-prev swiper-button-iui"></div>
                                    </div>
                                </div>
                            </li>
                            <li id="tab_app">
                                <div class="tabdiv">
                                    <p>데이터에 쉽게 연결하고 Excel과 유사한 식을 사용하여 논리를 추가하고 웹, iOS 및 Android 디바이스에서 실행할 수 있는 앱을 몇 달이 아닌 몇 시간 만에 구축합니다.</p>
                                    <p><a href="https://powerapps.microsoft.com/ko-kr/" target="_blank" class="urlbtn">Power Apps에 대해 자세히 알아보기</a></p>
                                    <div class="swiper-container scp02">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img data-src="../static/images/page/intro/pw04.gif" class="swiper-lazy">
                                                <div class="swiper-lazy-preloader"></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <img data-src="../static/images/page/intro/pw05.png" class="swiper-lazy">
                                                <div class="swiper-lazy-preloader"></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <img data-src="../static/images/page/intro/pw06.png" class="swiper-lazy">
                                                <div class="swiper-lazy-preloader"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                        <div class="swiper-button-next swiper-button-iui"></div>
                                        <div class="swiper-button-prev swiper-button-iui"></div>
                                    </div>
                                </div>
                            </li>
                            <li id="tab_aut">
                                <div class="tabdiv">
                                    <p>수백 가지 인기 있는 앱 및 서비스에 연결하는 코드 없는 방식으로 강력한 워크플로 자동화를 앱에 직접 포함합니다.</p>
                                    <p><a href="https://flow.microsoft.com/ko-kr/" target="_blank" class="urlbtn">Power Automate에 대해 자세히 알아보기</a></p>
                                    <div class="swiper-container scp03">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img data-src="../static/images/page/intro/pw07.gif" class="swiper-lazy">
                                                <div class="swiper-lazy-preloader"></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <img data-src="../static/images/page/intro/pw08.png" class="swiper-lazy">
                                                <div class="swiper-lazy-preloader"></div>
                                            </div>
                                            <div class="swiper-slide">
                                                <img data-src="../static/images/page/intro/pw09.png" class="swiper-lazy">
                                                <div class="swiper-lazy-preloader"></div>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>
                                        <div class="swiper-button-next swiper-button-iui"></div>
                                        <div class="swiper-button-prev swiper-button-iui"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--[끝]Power 플랫폼 -->
            <!-- [시작] PowerBi 내용 시작 -->
            <div class="innov_cont tab_box" id="pw_show">
                <div class="title">
                    <p class="bold">복잡한 데이터를 간단하게 시각화해보세요.</p>
                </div>
                <div class="ifr_wrap">
                    <p>Before: <span>AB커뮤니케이션의 2019년 4사분기 근태 현황 (예시)</span></p>
                    <iframe width="100%" height="450" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=9745374130C097C%21621&authkey=%21AHYjynTD_DMZMro&em=2&ActiveCell='Sheet1'!A1&wdHideHeaders=True&wdInConfigurator=True"></iframe>
                </div>
                <div class="ifr_wrap">
                    <p>After: <span>Power BI로 시각화한 근태현황</span></p>
                    <iframe width="100%" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNThiZGUyYjMtMGE0NC00ZDdmLTgxZTUtMjAxOGZiOWU4MGQ0IiwidCI6IjVhMTBiOWQxLWJhZTQtNDI3MC04MDA3LTU5Mjk5YmFmYmNjNSIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- [끝] 본문 -->
<script>
    $(document).ready(function () {
        $("#pw_show").hide();
    });

    $(".innov_category li a").click(function () {
        $(".innov_category li").removeClass("on");
        $(this).parent("li").addClass("on");
        $(".tab_box").hide();
        $($(this).attr("href")).show();

        return false;
    });

    new Swiper('.scp01', {
        lazy: true,
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

    new Swiper('.scp02', {
        lazy: true,
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

    new Swiper('.scp03', {
        lazy: true,
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

</script>
