﻿@{
    ViewBag.Title = "Innovation";
    ViewBag.menuselect = Request.Url.AbsolutePath;

    //var d = ViewBag.d365Index;
    //var index = "";
}

<!-- [시작] 본문 -->
<main>
    <div class="page_top sub03">
        <div class="page_text">
            <h2>Dynamics 365</h2>
            <p>차세대 CRM 및 ERP 애플리케이션인 Dynamics 365를 사용하여 비즈니스 성장을 촉진하세요.</p>
        </div>
    </div>
    <div class="page_content">
        <div class="innov">
            <!-- [시작] 카테고리 -->
            <div class="innov_category">
                <ul>
                    <li id="a" @*class="on"*@><a id="d365index" href="#dy_index">Dynamics 365 소개</a></li>
                    <li id="b"><a id="d365trial" name="d365trial" href="#dy_trial">Dynamics 365 체험하기</a></li>
                </ul>
            </div>
            <!-- [끝] 카테고리 -->
            <!-- [시작] dynamics 내용 시작 -->
            <div class="innov_cont tab_box" id="dy_index">
                <div class="title">
                    <p class="bold">Microsoft Dynamics 365</p>
                    <p>고객 관계와 내부 자원 관리를 위한 최적의 솔루션</p>
                </div>
                <div class="dy_cont">
                    <div class="innoVid">
                        <video preload="auto" autoplay controls width="100%" poster="~/static/file/innopost.jpg">
                            <source src="~/static/file/innov.mp4" type="video/mp4" />
                            <source src="~/static/file/innov.webm" type="video/webm" />
                        </video>
                    </div>
                    <div class="txtwrap">
                        <p class="para_bold">Dynamics 365란 무엇인가요?</p>
                        <p>
                            Dynamics 365는 모든 형태의 데이터에 인텔리전스를 적용하여 CRM과 ERP를 혁신합니다. 이로 인해 기업은 사후 대응적인 비즈니스 의사결정에서 사전 대응적인 인사이트로 한층 발전하고, 직원들은 비즈니스 성과를 빠르게 달성할 수 있습니다.<br>
                            Dynamics 365는 기업이 자신의 비즈니스를 보다 잘 이해하며 전략적으로 성공하는 조치를 취할 수 있도록 도와주는 세계적인 커넥티드 비즈니스 클라우드입니다.
                        </p>
                        <p class="vidbtn_set tac">
                            <button type="button" class="vidbtn" onclick="window.open('https://www.youtube.com/watch?v=gbHNb-N3uAY')">Dynamics 365 동영상 보기</button>
                        </p>
                    </div>
                    <div class="pw_tabs dy">
                        <p class="para_bold">주요 기능</p>
                        <ul class="buts clear">
                            <li class="on"><a href="#tab_mar">마케팅</a></li>
                            <li><a href="#tab_sal">영업</a></li>
                            <li><a href="#tab_ser">서비스</a></li>
                            <li><a href="#tab_ana">분석</a></li>
                        </ul>
                        <ul class="tabs">
                            <li id="tab_mar">
                                <div class="tabdiv">
                                    <p class="tab_bold">고객 요구 증가</p>
                                    <p>올바른 잠재고객을 발굴하여 관리하세요. 연결된 고객 경험을 만들고, 최신 트렌드를 파악하세요.</p>
                                    <p><a href="https://dynamics.microsoft.com/ko-kr/marketing/overview/" target="_blank" class="urlbtn">Marketing에 대해 자세히 알아보기</a></p>
                                    <p class="tab_img"><img src="~/static/images/page/d365/map01.jpg" alt=""></p>
                                </div>
                            </li>
                            <li id="tab_sal">
                                <div class="tabdiv">
                                    <p class="tab_bold">더 많은 거래 체결</p>
                                    <p>더 강력한 고객 관계를 구축하여, 생산성과 성과가 개선됩니다. 한 곳에서 고객에 대한 뷰를 확인할 수 있습니다.</p>
                                    <p><a href="https://dynamics.microsoft.com/ko-kr/sales/overview/" target="_blank" class="urlbtn">Sales에 대해 자세히 알아보기</a></p>
                                    <p class="tab_img"><img src="~/static/images/page/d365/map02.jpg" alt=""></p>
                                </div>
                            </li>
                            <li id="tab_ser">
                                <div class="tabdiv">
                                    <p class="tab_bold">고객의 기대치를 능가하는 서비스</p>
                                    <p>긍정적인 고객 경험을 신속히 제공하세요. 리소스를 최적화하여 기술자가 효율적으로 일할 수 있도록 지원하세요. 운영 비용이 감소됩니다.</p>
                                    <p><a href="https://dynamics.microsoft.com/ko-kr/customer-service/overview/" target="_blank" class="urlbtn">Customer Service에 대해 자세히 알아보기</a> <a href="https://dynamics.microsoft.com/ko-kr/field-service/overview/" target="_blank" class="urlbtn">Field Service에 대해 자세히 알아보기</a></p>
                                    <p class="tab_img"><img src="~/static/images/page/d365/map03.jpg" alt=""></p>
                                </div>
                            </li>
                            <li id="tab_ana">
                                <div class="tabdiv">
                                    <p class="tab_bold">상황별 인사이트를 통한 스마트한 분석</p>
                                    <p>각 고객과의 상호작용 및 영업 활동을 강화하고 영업 인텔리전스에 기반한 비즈니스 의사결정력을 향상함으로써 더 많은 거래를 성사시킬 수 있습니다.</p>
                                    <p><a href="https://dynamics.microsoft.com/ko-kr/ai/sales-insights/" target="_blank" class="urlbtn">Sales Insights에 대해 자세히 알아보기</a> <a href="https://dynamics.microsoft.com/ko-kr/ai/customer-insights/" target="_blank" class="urlbtn">Customer Insights에 대해 자세히 알아보기</a> <a href="https://dynamics.microsoft.com/ko-kr/ai/customer-service-insights/" target="_blank" class="urlbtn">Customer Service Insights에 대해 자세히 알아보기</a></p>
                                    <p class="tab_img"><img src="~/static/images/page/d365/map04.jpg" alt=""></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--dynamics trial 테스트 ㅘ면-->
            <div class="innov_cont tab_box" id="dy_trial"  name="d365trial" >
                <div class="title">
                    <p class="bold">Dynamics 365 Trial 계정 생성 방법 안내</p>
                    <p>Dynamics 365의 기능을 직접 사용해보세요.</p>
                </div>
                <div class="d_trial">
                    <ol>
                        <li>
                            <a href="https://trials.dynamics.com/" target="_blank">https://trials.dynamics.com/</a>로 접속합니다.
                        </li>
                        <li>
                            Dynamics 365 Sales를 선택한 후 하단의 [여기에서 등록하세요] 링크를 클릭합니다.
                            <p><img src="~/static/images/page/d365/d01.jpg" alt=""></p>
                        </li>
                        <li>
                            오른쪽 하단의 [아니요. 등록 계속]을 클릭해주세요.
                            <p><img src="~/static/images/page/d365/d02.jpg" alt=""></p>
                        </li>
                        <li>
                            등록 폼을 작성해주세요. 나라와 언어는 각각 [Korea], [한국어]로 설정합니다.
                            <p><img src="~/static/images/page/d365/d03.jpg" alt=""></p>
                        </li>
                        <li>
                            사용자 ID를 설정하세요. 개인 정보 보호 정책에 동의한 후 하단의 [Create my account] 버튼을 클릭합니다.
                            <p><img src="~/static/images/page/d365/d04.jpg" alt=""></p>
                        </li>
                        <li>
                            국가 번호 (+82)를 선택한 후 핸드폰 번호를 입력한 후 [Text me] 버튼을 클릭하여 다음 페이지로 넘어가세요. 문자 메시지로 전송 받은 인증 번호를 입력한 후 [Next]를 클릭합니다.
                            <p><img src="~/static/images/page/d365/d05.jpg" alt=""></p>
                            <p><img src="~/static/images/page/d365/d06.jpg" alt=""></p>
                        </li>
                        <li>
                            접속 아이디를 필히 기억해두세요. [Set up] 버튼을 클릭하세요.
                            <p><img src="~/static/images/page/d365/d07.jpg" alt=""></p>
                        </li>
                        <li>
                            언어를 한국어로 설정한 후, 모든 모듈을 선택하여 설치합니다. [설치 완료]를 누르면 Dynamics 365 세팅에 들어갑니다.
                            <p><img src="~/static/images/page/d365/d08.jpg" alt=""></p>
                            <p><img src="~/static/images/page/d365/d09.jpg" alt=""></p>
                        </li>
                        <li>
                            설치가 완료되면 Dynamics 365 버튼을 눌러 대시보드로 이동합니다. 이제 Dynamics 365의 다양한 기능을 체험해볼 수 있습니다!
                            <p><img src="~/static/images/page/d365/d10.jpg" alt=""></p>
                            <p><img src="~/static/images/page/d365/d11.jpg" alt=""></p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- [끝] 본문 -->
<script>
   
    $(document).ready(function () {
        $("#dy_trial").hide();
        $("#a").addClass("on");

    });
    //jQuery(function () {
    //    jQuery("#tabs").tabs();
    //});
    $(".innov_category li a").click(function () {
        $(".innov_category li").removeClass("on");
        $(this).parent("li").addClass("on");
        $(".tab_box").hide();
        $($(this).attr("href")).show();

        return false;
    });

    $("#d365index").click(function () {
        $("#dy_trial").hide();
        $("#dy_index").show();
    });

</script>
