﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" href="~/static/css/reset.css">
    <link rel="stylesheet" href="~/static/css/common.css">
    <link rel="stylesheet" href="~/static/css/timeline.min.css">
    <link rel="stylesheet" href="~/static/css/swiper.min.css">
    <link rel="stylesheet" href="~/static/css/iuistyle.css">
    <script src="~/static/js/jquery-1.9.1.min.js"></script>
    <script src="~/static/js/iuiscript.js"></script>
    <script type="text/javascript" src="~/static/js/timeline.min.js"></script>
    <script type="text/javascript" src="~/static/js/swiper.min.js"></script>
    <script type="text/javascript" src="~/static/js/common.js"></script>
    <script type="text/javascript" src="~/static/js/mailscript.js"></script>

    <title>iui communications</title>
</head>


<body>
    @if (!ViewBag.menuselect.Contains("About") && !ViewBag.menuselect.Contains("Works") && !ViewBag.menuselect.Contains("Innovation") && !ViewBag.menuselect.Contains("Solutions"))
    {
        @Html.Raw("<div class='mainpage'>")
    }
    else
    {
        @Html.Raw("<div class='subpage'>")
    }
    @*<div class="mainpage">*@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <header>
            <div class="inner">
                <h1><a href="/Home/Index"><img src="~/static/images/h1_logo.png" alt="아이유아이"></a></h1>
                <nav>
                    <ul class="pc_gnb clear">
                        <li class="main">
                            <button type="button">About</button>
                            <ul class="sub">
                                <li><button type="button" onclick="location.href='/About/About'">About iui</button></li>
                                <li><button type="button" onclick="location.href='/About/News'">News</button></li>
                                <li><button type="button" onclick="location.href='/About/Direction'">Directions</button></li>
                            </ul>
                        </li>
                        <li class="main"><button type="button" onclick="location.href='/Works/Works'">Works</button></li>
                        <li class="main">
                            <button type="button">Innovation</button>
                            <ul class="sub">
                                <li><button type="button" onclick="location.href='/Innovation/Dynamics365_Index'">Dynamics 365</button></li>
                                <li><button type="button" onclick="location.href='/Innovation/BI_Show'">Power Platform</button></li>
                                <li><button type="button" onclick="location.href='/Innovation/Azure_Show'">Microsoft Azure</button></li>
                            </ul>
                        </li>
                        <li class="main"><button type="button" onclick="location.href='/Solutions/Solutions'">Solutions</button></li>
                    </ul>
                    <!-- [시작] 모바일 메뉴 -->
                    <div class="mm_btn">
                        <div class="bar b1"></div>
                        <div class="bar b2"></div>
                        <div class="bar b3"></div>
                    </div>
                    <div class="m_gnb">
                        <div class="m_close"></div>
                        <ul>
                            <li class="m_main">
                                <button type="button">About</button>
                                <ul class="m_sub">
                                    <li><button type="button" onclick="location.href='/About/About'">About iui</button></li>
                                    <li><button type="button" onclick="location.href='/About/News'">News</button></li>
                                    <li><button type="button" onclick="location.href='/About/Direction'">Directions</button></li>
                                </ul>
                            </li>
                            <li class="m_main"><button type="button" onclick="location.href='/Works/Works'">Works</button></li>
                            <li class="m_main">
                                <button type="button">Innovation</button>
                                <ul class="m_sub">
                                    <li><button type="button" onclick="location.href='/Innovation/Dynamics365_Index'">Dynamics 365</button></li>
                                    <li><button type="button" onclick="location.href='/Innovation/BI_Show'">Power Platform</button></li>
                                    <li><button type="button" onclick="location.href='/Innovation/Azure_Show'">Microsoft Azure</button></li>
                                </ul>
                            </li>
                            <li class="m_main"><button type="button" onclick="location.href='/Solutions/Solutions'">Solutions</button></li>
                        </ul>
                    </div>
                    <!-- [끝] 모바일 메뉴 -->
                </nav>
            </div>
        </header>
        <!-- [끝] 상단 메뉴 및 모바일 메뉴 -->
        <div class="container body-content">
            <!--본문-->
            @RenderBody()
            <!--본문 끝-->
        </div>
        <footer>
            <div class="inner">
                <div class="f_name">iui communications</div>
                <div class="f_info">
                    04083, 서울특별시 마포구 토정로 44 601호 (합정동)&nbsp;&nbsp;|&nbsp;&nbsp;TEL. 02-3143-5494&nbsp;&nbsp;|&nbsp;&nbsp;FAX. 02-332-7106&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/About/Privacy">개인정보처리방침</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/About/Direction">오시는길</a><br>
                    (C) IUI COMMUNICATIONS. ALL RIGHTS RESERVED.
                </div>
            </div>
        </footer>

        <div class="go_top">
            <button type="button">위로가기</button>
        </div>

        <div class="ctt_float">
            <div class="cttbtn">
                <button></button>
                <ul class="ctt_fmenu">
                    <li class="ti">체험하기</li>
                    <li><a href="/Innovation/Dynamics365_main">Dynamics 365</a></li>
                    <li><a href="/Innovation/BI_main">Power BI</a></li>
                    <li><a href="/Innovation/Azure_main">Azure</a></li>
                    <li class="ti" id="ctcb">문의하기</li>
                </ul>
            </div>
            <div class="ctt_category">
                <div class="heads clear">
                    <div class="decor_wrap clear">
                        <div class="deco1"></div>
                        <div class="deco2"></div>
                        <div class="deco3"></div>
                    </div>
                    <div class="txt">문의 방법을 선택하세요.&nbsp;&nbsp;<button class="close">&times;</button></div>
                </div>
                <div class="conts">
                    <button type="button" class="tel" onclick="contactTel();">TEL</button>
                    <button type="button" class="mail">MAIL</button>
                </div>
            </div>
            <!--[시작] 메일 보내는 양식-->
            <div class="ctt_detail">
                <div class="heads clear">
                    <div class="decor_wrap clear">
                        <div class="deco1"></div>
                        <div class="deco2"></div>
                        <div class="deco3"></div>
                    </div>
                    <div class="txt">문의 내용을 입력하세요.&nbsp;&nbsp;<button class="close">&times;</button></div>
                </div>
                <div class="conts">
                    <div class="input_line">
                        <dl>
                            <dt>문의유형</dt>
                            <dd>
                                <input type="radio" name="type" value="1" id="rd_prd"><label for="rd_prd">제품 문의</label>
                                <input type="radio" name="type" value="2" id="rd_sgg"><label for="rd_sgg">제안 문의</label>
                                <input type="radio" name="type" value="0" id="rd_etc"><label for="rd_etc">기타 문의</label>
                            </dd>
                        </dl>
                    </div>
                    <div class="input_line">
                        <dl>
                            <dt><label for="c_name">이름</label></dt>
                            <dd>
                                <input type="email" id="c_name" placeholder="이름을 입력하세요.">
                            </dd>
                        </dl>
                    </div>
                    <div class="input_line">
                        <dl>
                            <dt><label for="c_mail">메일</label></dt>
                            <dd>
                                <input type="email" id="c_mail" placeholder="이메일 주소를 입력하세요.">
                            </dd>
                        </dl>
                    </div>
                    <div class="input_line">
                        <dl>
                            <dt><label for="c_text">문의내용</label></dt>
                            <dd>
                                <textarea name="c_text" id="c_text"></textarea>
                            </dd>
                        </dl>
                    </div>
                    <div class="btnset">
                        <button type="button" class="send" onclick="send_consulting()">메일 보내기</button>
                        <button type="button" class="cancel">취소</button>
                    </div>
                </div>
            </div>
            <!--[끝] 메일 보내는 양식-->
        </div>
        <script>
            function contactTel() {
                let filter = "win16|win32|win64|mac|macintel";
                if (0 > filter.indexOf(navigator.platform.toLowerCase())) {
                    console.log("Client platform : Mobile");
                    location.href = 'tel:02-3143-5494';
                } else {
                    console.log("Client platform : PC");
                    alert('전화번호는 하단을 참고해주세요.');
                }
            }
        </script>
    </div>
    @if (ViewBag.menuselect.Contains("/Home/Index"))
    {
        @Html.Raw("</div>")
    }
    else
    {
        @Html.Raw("</div>")
    }
    
</body>



</html>

