﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.menuselect = Request.Url.AbsolutePath;
}
<div id="ddrS6gqxjncTN4aZJAOlnsL4O0X85hQiMiJNnzkMuzyU"></div>
<script language="javascript" type="text/javascript">(function (id, f, t, ws, ms_tr_il_08, ms_tr_il_w_01) { var tr = function (cb) { var count = 0; var callback = function () { if (count == 0) { count++; if (w) { w.w(id, t, cb); } } }; var ts = document.createElement('script'); ts.src = ws; ts.type = 'text/javascript'; ts.onload = callback; ts.onreadystatechange = function () { if (this.readyState == 'complete' || this.readyState == 'loaded') { callback(); } }; var head = document.getElementsByTagName('head')[0]; head.appendChild(ts); }; if (typeof ms_tr_il_08 === 'function') { if (ms_tr_il_w_01 === null) { tr(function () { ms_tr_il_08(id, f, t); }); } else { ms_tr_il_w_01.w(id, t, function (websiteVisitedParams) { ms_tr_il_08(id, f, t, websiteVisitedParams); }, null); } } else { tr(); } })('drS6gqxjncTN4aZJAOlnsL4O0X85hQiMiJNnzkMuzyU', 'https://eaa65c3858f34c2f80cb84a3d1cea8ec.svc.dynamics.com/f', 'https://eaa65c3858f34c2f80cb84a3d1cea8ec.svc.dynamics.com/t', 'https://eaa65c3858f34c2f80cb84a3d1cea8ec.svc.dynamics.com/t/w', typeof ms_tr_il_08 === "undefined" ? null : ms_tr_il_08, typeof ms_tr_il_w_01 === "undefined" ? null : ms_tr_il_w_01);</script>
<script src="https://mktdplp102cdn.azureedge.net/public/latest/js/form-loader.js?v=1.58.1075.0"></script> <div class="d365-mkt-config" style="display:none" data-website-id="drS6gqxjncTN4aZJAOlnsL4O0X85hQiMiJNnzkMuzyU" data-hostname="eaa65c3858f34c2f80cb84a3d1cea8ec.svc.dynamics.com"> </div>
<main>
    <div class="w_wrap">
        <div class="w_main">iui communications</div>
        <div class="w_sub">This is how we work.</div>
    </div>
</main>